{% extends "fiches/page_blocks_colonnes.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "accueil" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365
{% endblock %}

{% block entete %}
<div class="column_large"><h1>Accueil du fichier Aidants 365</h1>
<p>Vous retrouvez sur ce tableau de bord un accès aux <a href="{% url 'fichier:index' %}">{{ nbfichestotal }} fiches</a> via leurs différents niveaux, catégories, thèmes ou mots-clés.
Le glossaire contient actuellement <a href="{% url 'fichier:glossaire' %}">{{ nbentreesglossaire }} entrées</a>.</p>
</div>
<div class="column_small">
    <div class="column">
        <h2 class="resserre">Niveaux</h2>
        <ul>
            {% for niveau in niveaux %}
                <li>
                    {{ niveau.couleur | carre_colore }}
                    {% if niveau.fiche_count %}
                    <a href="{% url 'fichier:index_niveau' niveau.id %}">{{ niveau }}</a> <span class="fiche_count">{{ niveau.fiche_count }}</span>
                    {% else %}
                    <span class="not_available">{{ niveau }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
    </div>
    <div class="column">
        <h2 class="resserre">Auteurs</h2>
        {% if auteurs %}
    <ul>
    {% for auteur in auteurs %}
        <li>
            {% if auteur.fiche_count %}    
            <a href="{% url 'fichier:index_auteur' auteur.id %}">{{ auteur }}</a> <span class="fiche_count">{{ auteur.fiche_count }}</span>
            {% else %}
            <span class="not_available">{{ auteur }}</span>
            {% endif %}
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
</div>
<div style="clear: both"></div>
{% endblock %}

{% block gauche1 %}
<h2>Les {{ nbfiches }} dernières fiches modifiées</h2>
{% if fiche_list %}
    <ul>
    {% for fiche in fiche_list %}
        <li>{{ fiche.niveau.couleur | carre_colore }} <a href="{% url 'fichier:detail' fiche.id %}">{{ fiche }}</a></li>
    {% endfor %}
    </ul>
    <div class="suite">Voir <a href="{% url 'fichier:index' %}">toutes les fiches ▸</a></div>
{% else %}
    <p>Pas de fiche disponible.</p>
{% endif %}
{% endblock %}



{% block droite1 %}
{% if categories %}
<h2>Les {{ nbcategories }} principales catégories générales</h2>
<ul class="cols4">
    {% for categorie in categories %}
        <li>
            {% if categorie.fiche_count %}    
            <a href="{% url 'fichier:index_categorie' categorie.id %}">{{ categorie }}</a> <span class="fiche_count">{{ categorie.fiche_count }}</span>

            {% else %}
            <span class="not_available">{{ categorie }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="suite">Voir <a href="{% url 'fichier:categories' %}">toutes les catégories générales ▸</a></div>
{% else %}
    <p>Pas de catégorie disponible.</p>
{% endif %}
{% if categories_libres %}
    <h2>Les {{ nbcategorieslibres }} principales catégories libres</h2>
    <ul class="cols3">
        {% for cl in categories_libres %}
            <li>
                {% if cl.fiche_count %}    
                <a href="{% url 'fichier:index_categorie_libre' cl.id %}">{{ cl }}</a> <span class="fiche_count">{{ cl.fiche_count }}</span>
                {% else %}
                <span class="not_available">{{ cl }}</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <div class="suite">Voir <a href="{% url 'fichier:categories_libres' %}">toutes les catégories libres ▸</a></div>
{% endif %}
{% endblock %}

{% block gauche2 %}
<h2>Nuage de mots-clés</h2>
{% if motcles %}
    {% include "fiches/nuage.html" with elements=motcles critere_name="motcle" %}    

    <div class="suite">Voir <a href="{% url 'fichier:motscles_nuage' %}">tous les mots-clés ▸</a></div>
{% else %}
    <p>Pas de mot-clé disponible.</p>
{% endif %}
{% endblock %}

{% block droite2 %}
<h2>Les {{ nbthemes }} principaux thèmes</h2>
{% if themes %}
    <ul class="cols3">
    {% for theme in themes %}
        <li>
            {% if theme.fiche_count %}    
            <a href="{% url 'fichier:index_theme' theme.id %}">{{ theme }}</a> <span class="fiche_count">{{ theme.fiche_count }}</span>
            {% else %}
            <span class="not_available">{{ theme }}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    <div class="suite">Voir <a href="{% url 'fichier:themes' %}">tous les thèmes ▸</a></div>
{% else %}
    <p>Pas de thème disponible.</p>
{% endif %}
{% endblock %}
