{% load static %}
<page size="A5" class="web" layout="landscape" id="page-A5">

    <div class="container">
        <div class="colonne ephemeride_large">
            {% include "fiches/titre_agenda.html" with hx="h1" %}


            {% include "fiches/contenu_agenda.html" with hx="h2" %}
        </div>
        <div class="colonne">
            <div class="illustration">
                {%if entree.illustration %}
                <img src="{{ entree.illustration.url }}" alt="{{ entree.illustration_alt }}" />
                {% else %}
                <img src="{% static 'images/caregiver.jpg' %}" alt="sur un bord de plage, un homme âgé assez maigre pousse le fauteuil roulant d'un homme nettement plus fort et très couvert. Ils portent tous les deux une casquette." />
                {% endif %}
            </div>

            <div class="notes-libres">
                
            </div>
        </div>
    </div>
    </page>