{% load fichier_extras %}
{% if liens %}
<div class="menu-21">
    <div class="lien_next slim">
        {% if details %} <div class="lien_next bouton slim"><a href="{% url 'fichier:detail' fiche.id %}">plein écran</a></div> {% endif %}
        {% if "fichier.change_fiche" in perms %}
        <div class="lien_next bouton slim"><a href="{% url 'fichier:object_change' 'fiche' fiche.id %}" id="edit_button">éditer (ctrl-e)</a></div>
        {% endif %}
        {% if "fichier.add_fiche" in perms %}
        <div class="lien_next bouton slim"><a href="{% url 'fichier:object_duplicate' 'fiche' fiche.id %}" id="duplicate_button">dupliquer</a></div>
        {% endif %}
        {% if "fichier.delete_fiche" in perms %}
        <div class="lien_next bouton slim"><a href="{% url 'fichier:fiche_delete' fiche.id %}" id="delete_button">supprimer</a></div>
        {% endif %}
        <div class="lien_next bouton slim"><a href="{% url 'fichier:detail_pdf' fiche.id %}">pdf</a></div>
    </div>
</div>
<div class="vertical-space"></div>
{% endif %}

<page size="A4">
    <div class="contenu_page">
        <div class="haut">
            <div class="entete">
                <div class="gauche">
                    <p class="nomenclature">
                        {{ fiche.niveau.couleur | carre_colore }}
                        {% if liens %}<a class="internal" href="{% url 'fichier:index_detail' fiche.id %}">{% endif %}Aidants 365{% if liens %}</a>{% endif %} — 
                        {% if liens %}<a class="internal" href="{% url 'fichier:index_niveau_detail' fiche.niveau.id fiche.id %}">{% endif %}{{ fiche.niveau }}{% if liens %}</a>{% endif %}
                        {% if liens %}<a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie1.id fiche.id %}">{% endif %}{{ fiche.categorie1 }}{% if liens %}</a>{% endif %}
                        {% if liens %}<a class="internal" href="{% url 'fichier:index_auteur_detail' fiche.auteur.id fiche.id %}">{% endif %}{{ fiche.auteur }}{% if liens %}</a>{% endif %}
                        {{ fiche.numero  | number_xxxx }}
                        {% if fiche.marque %}☑{% endif %}</p>
                    <h1>{{ fiche.titre_fiche  | safe }}</h1>
                    <h2>{{ fiche.sous_titre  | safe }}</h2>
                </div>
                <div class="droite">
                    <strong>Catégorie</strong><br />
                    {% if liens %}<a class="internal" href="{% url 'fichier:index_niveau_detail' fiche.niveau.id fiche.id %}">{% endif %}{{ fiche.niveau.code }}{% if liens %}</a>{% endif %}, {% if liens %}<a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie1.id fiche.id %}">{% endif %}{{ fiche.categorie1 }}{% if liens %}</a>{% endif %}{% if fiche.categorie2 %}, {% if liens %}<a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie2.id fiche.id %}">{% endif %}{{ fiche.categorie2 }}{% if liens %}</a>{% endif %}{% endif %}{% if fiche.categorie3 %}, {% if liens %}<a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie3.id fiche.id %}">{% endif %}{{ fiche.categorie3 }}{% if liens %}</a>{% endif %}{% endif %}<br />
                    <strong>Auteur</strong><br />
                    {% if liens %}<a class="internal" href="{% url 'fichier:index_auteur_detail' fiche.auteur.id fiche.id %}">{% endif %}{{ fiche.auteur.nom }}{% if liens %}</a>{% endif %}<br />
                    <strong>Date création</strong><br />
                    {{ fiche.date_creation }}<br />
                    <strong>Date dernière modification</strong><br />
                    {{ fiche.date_derniere_modification }}
                </div>
            </div>
            {% autoescape off %}                
            <div class="chapeau">
                <ul>
                    {{ fiche.url | cliquable | affiche_si_existe:"Adresse" | inside_si_existe:"li" }}
                    {{ fiche.titre | affiche_si_existe:"Titre" | inside_si_existe:"li" }}
                    {{ fiche.auteurs | affiche_si_existe:"Auteur(s)" | inside_si_existe:"li" }}
                    {{ fiche.annee_publication | affiche_si_existe:"Année de publication" | inside_si_existe:"li" }}
                    {{ fiche.editeur | affiche_si_existe:"Éditeur" | inside_si_existe:"li" }}
                    {{ fiche.format_bibl | affiche_si_existe:"Format" | inside_si_existe:"li" }}
                    {{ fiche.realisateurs | affiche_si_existe:"Réalisateurs" | inside_si_existe:"li" }}
                    {{ fiche.annee_film | affiche_si_existe:"Année de production" | inside_si_existe:"li" }}
                    {{ fiche.diffusion | affiche_si_existe:"Diffusion" | inside_si_existe:"li" }}
                    {{ fiche.duree | affiche_si_existe:"Durée" | inside_si_existe:"li" }}
                    {{ fiche.production | affiche_si_existe:"Production" | inside_si_existe:"li" }}
                    {{ fiche.partenaires | affiche_si_existe:"Partenaires" | inside_si_existe:"li" }}
                    {% if fiche.themes.all %}
                    <li><strong>Thèmes&nbsp;:</strong>
                    {% for theme in fiche.themes.all %}{% if not forloop.first %}, {% endif %}{% if liens %}<a class="internal" href="{% url 'fichier:index_theme_detail' theme.id fiche.id %}">{% endif %}{{ theme.nom }}{% if liens %}</a>{% endif %}{% endfor %}
                    </li>
                    {% endif %}
                    {% if fiche.etiquettes.all %}
                    <li><strong>Étiquettes&nbsp;:</strong>
                    {% for etiquette in fiche.etiquettes.all %}{% if not forloop.first %}, {% endif %}{% if liens %}<a class="internal" href="{% url 'fichier:index_etiquette_detail' etiquette.id fiche.id %}">{% endif %}{{ etiquette.nom }}{% if liens %}</a>{% endif %}{% endfor %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="corps">
            {{ fiche.presentation | safe | ajouter_glossaire:liens | ajouter_liens | affiche_si_existe:"Présentation" | inside_si_existe:"p" }}
            {{ fiche.problematique | ajouter_glossaire:liens | safe | ajouter_liens | affiche_si_existe:"Problématique" | inside_si_existe:"p" | safe }}
            {{ fiche.quatrieme_de_couverture | ajouter_glossaire:liens | ajouter_liens | safe | affiche_si_existe:"Quatrième de couverture" | inside_si_existe:"p" | safe }}
            {{ fiche.plan_du_site | ajouter_glossaire:liens | safe | ajouter_liens | affiche_si_existe:"Plan du site" | inside_si_existe:"p" | safe }}
            {% affiche_bloc_si_existe fiche.focus|safe|ajouter_glossaire:liens|ajouter_liens "Focus" fiche.detail_focus%}
        </div>
        <div class="pied">
            <ul>
                {{ fiche.reserves | ajouter_glossaire:liens | ajouter_liens | affiche_si_existe:"Réserves" | inside_si_existe:"li" | safe }}
                {{ fiche.lesplus | ajouter_glossaire:liens | ajouter_liens | affiche_si_existe:"Les plus" | inside_si_existe:"li" | safe }}
                {{ fiche.en_savoir_plus | ajouter_glossaire:liens | ajouter_liens | affiche_si_existe:"En savoir plus" | inside_si_existe:"li" | safe }}
                {% if fiche.fiches_connexes.all %}
                <li><strong>Fiches connexes&nbsp;:</strong>
                {% for connexe in fiche.fiches_connexes.all %}{% if not forloop.first %}, {% endif %}{% if liens %}<a class="internal" href="{% url 'fichier:detail' connexe.id %}">{% endif %}{{ connexe }}{% if liens %}</a>{% endif %}{% endfor %}
                </li>
                {% endif %}
            </ul>
            {% endautoescape %}
            
        </div>
    </div>
</page>
<div class="message_responsive">La mise en page des fiches sur petits écrans type smartphone n'être conforme à la <a href="{% url 'fichier:detail_pdf' fiche.id %}">présentation finale en pdf</a>. Affichage à titre informatif.</div>
