{% load fichier_extras %}
{% if liens %}
{% endif %}
<div id="message_responsive">La présentation des fiches sur petits écrans type smartphone pourrait ne pas être conforme à la <a href="{% url 'fichier:detail_pdf' fiche.id %}">présentation finale en pdf</a>. Affichage à titre informatif.</div>
<page size="A4">
    <div id="actions">
        {% if details %} <a href="{% url 'fichier:detail' fiche.id %}"><button>plein écran</button></a> {% endif %}
        <a href="{% url 'admin:index' %}fichier/fiche/{{ fiche.id }}/change/" id="edit_button"><button>éditer (ctrl-e)</button></a>
        <a href="{% url 'fichier:detail_pdf' fiche.id %}"><button>pdf</button></a>
    </div>
      <div id="contenu_page">
        <div id="haut">
            <div id="entete">
                <div class="gauche">
                    <p class="nomenclature">
                        {{ fiche.niveau.couleur | carre_colore }}
                        <a class="internal" href="{% url 'fichier:index_detail' fiche.id %}">Projet365</a> — 
                        <a class="internal" href="{% url 'fichier:index_niveau_detail' fiche.niveau.id fiche.id %}">{{ fiche.niveau }}</a>
                        <a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie1.id fiche.id %}">{{ fiche.categorie1 }}</a>
                        <a class="internal" href="{% url 'fichier:index_auteur_detail' fiche.auteur.id fiche.id %}">{{ fiche.auteur }}</a>
                        {{ fiche.numero  | number_xxxx }}</p>
                    <h1>{{ fiche.titre_fiche  | highlight_search:search | safe }}</h1>
                    <h2>{{ fiche.sous_titre  | highlight_search:search | safe }}</h2>
                </div>
                <div class="droite">
                    <strong>Catégorie</strong><br />
                    <a class="internal" href="{% url 'fichier:index_niveau_detail' fiche.niveau.id fiche.id %}">{{ fiche.niveau.code }}</a>, <a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie1.id fiche.id %}">{{ fiche.categorie1 }}</a>{% if fiche.categorie2 %}, <a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie2.id fiche.id %}">{{ fiche.categorie2 }}</a>{% endif %}{% if fiche.categorie3 %}, <a class="internal" href="{% url 'fichier:index_categorie_detail' fiche.categorie3.id fiche.id %}">{{ fiche.categorie3 }}</a>{% endif %}{% for cl in fiche.categories_libres.all %}, <a class="internal" href="{% url 'fichier:index_categorie_libre_detail' cl.id fiche.id %}">{{ cl }}</a>{% endfor %}<br />
                    <strong>Auteur</strong><br />
                    <a class="internal" href="{% url 'fichier:index_auteur_detail' fiche.auteur.id fiche.id %}">{{ fiche.auteur.nom }}</a><br />
                    <strong>Date création</strong><br />
                    {{ fiche.date_creation }}<br />
                    <strong>Date dernière modification</strong><br />
                    {{ fiche.date_derniere_modification }}
                </div>
            </div>
            {% autoescape off %}                
            <div id="chapeau">
                <ul>
                    {{ fiche.url | cliquable | affiche_si_existe:"Adresse" | inside_si_existe:"li" }}
                    {{ fiche.titre | affiche_si_existe:"Titre" | inside_si_existe:"li" }}
                    {{ fiche.auteurs | affiche_si_existe:"Auteur(s)" | inside_si_existe:"li" }}
                    {{ fiche.annee_publication | affiche_si_existe:"Année de publication" | inside_si_existe:"li" }}
                    {{ fiche.editeur | affiche_si_existe:"Éditeur" | inside_si_existe:"li" }}
                    {{ fiche.format_bibl | affiche_si_existe:"Format" | inside_si_existe:"li" }}
                    {{ fiche.realisateurs | affiche_si_existe:"Réalisateurs" | inside_si_existe:"li" }}
                    {{ fiche.annee_film | affiche_si_existe:"Année de production" | inside_si_existe:"li" }}
                    {{ fiche.diffusion | affiche_si_existe:"Diffusion" | inside_si_existe:"li" }}
                    {{ fiche.duree | affiche_si_existe:"Durée" | inside_si_existe:"li" }}
                    {{ fiche.production | affiche_si_existe:"Production" | inside_si_existe:"li" }}
                    {{ fiche.partenaires | affiche_si_existe:"Partenaires" | inside_si_existe:"li" }}
                    {% if fiche.themes.all %}
                    <li><strong>Thèmes&nbsp;:</strong>
                    {% for theme in fiche.themes.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_theme_detail' theme.id fiche.id %}">{{ theme.nom }}</a>{% endfor %}
                    </li>
                    {% endif %}
                    {% if fiche.mots_cles.all %}
                    <li><strong>Mots-clés&nbsp;:</strong>
                    {% for motcle in fiche.mots_cles.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_motcle_detail' motcle.id fiche.id %}">{{ motcle.nom }}</a>{% endfor %}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="corps">
            {{ fiche.presentation | safe | ajouter_glossaire | affiche_si_existe:"Présentation" | inside_si_existe:"p" | highlight_search:search | safe }}
            {{ fiche.problematique | ajouter_glossaire | safe | affiche_si_existe:"Problématique" | inside_si_existe:"p" | highlight_search:search | safe }}
            {{ fiche.quatrieme_de_couverture | ajouter_glossaire | safe | affiche_si_existe:"Quatrième de couverture" | inside_si_existe:"p" | highlight_search:search | safe }}
            {{ fiche.plan_du_site | ajouter_glossaire | safe | affiche_si_existe:"Plan du site" | inside_si_existe:"p" | highlight_search:search | safe }}
            {% affiche_bloc_si_existe fiche.focus|highlight_search:search|safe|ajouter_glossaire "Focus" fiche.detail_focus%}
        </div>
        <div id="pied">
            <ul>
                {{ fiche.reserves | ajouter_glossaire | affiche_si_existe:"Réserves" | inside_si_existe:"li" | highlight_search:search | safe }}
                {{ fiche.lesplus | ajouter_glossaire | affiche_si_existe:"Les plus" | inside_si_existe:"li" | highlight_search:search | safe }}
                {{ fiche.en_savoir_plus | ajouter_glossaire | affiche_si_existe:"En savoir plus" | inside_si_existe:"li" | highlight_search:search | safe }}
                {% if fiche.fiches_connexes.all %}
                <li><strong>Fiches connexes&nbsp;:</strong>
                {% for connexe in fiche.fiches_connexes.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:detail' connexe.id %}">{{ connexe }}</a>{% endfor %}
                </li>
                {% endif %}
            </ul>
            {% endautoescape %}
            
        </div>
    </div>
</page>
