{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "agenda" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — Agenda
{% endblock %}



{% block content %}


<div class="block" id="entete">
    <div class="lien_next bouton"><a id="inverse_button" href="{% url 'fichier:entree_agenda_invert' %}">inverser deux dates</a></div>
    <h1>Calendrier du mois de {{ month|nom_mois }} <a href="{% url 'fichier:agenda_year' year %}">{{year}}</a></h1>


    {% include "fiches/entete.html" %}

    <div>
        <div class="left">{% lien_mois_precedent year month 0 %}</div>
        <div class="right">{% lien_mois_suivant year month 0 %}</div>
        <div style="clear: both"></div>
        <p>Voir <a href="{% url 'fichier:agenda_month_details' year month %}">le détail des entrées</a> du mois.</p>
    </div>

    <div class="suite"><a href="{% url 'fichier:simple_modifications' 'agenda' %}">dernières modifications ▸</a></div>

</div>
<div class="block tableau_agenda">
        {% show_month agenda year month  %}
</div>
{% endblock %}
