{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "agenda" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — Agenda
{% endblock %}



{% block content %}


<div class="block" id="entete">
    <div class="lien_next slim">
        {% if "fichier.add_entreeagenda" in perms %}
        <div class="lien_next bouton"><a id="inverse_button" href="{% url 'fichier:entree_agenda_invert' %}">inverser deux dates</a></div>
        {% endif %}
        {% if agenda.events.all.count > 0 %}
        <div class="lien_next bouton"><a class="bouton_inline" id="dl_pdf" href="/media/agenda-{{ year }}-{{ month|two_chars }}.pdf">pdf</a></div>
        {% endif %}
    </div>
    <h1>Calendrier du mois {{ month|nom_mois_particule }} <a href="{% url 'fichier:agenda_year' year %}">{{year}}</a></h1>


    {% include "fiches/entete_mois.html" with entete_mois_edit=1 %}

    <div>
        <div class="left">{% lien_mois_precedent year month 0 %}</div>
        <div class="right">{% lien_mois_suivant year month 0 %}</div>
        <div style="clear: both"></div>
        <p>Voir <a href="{% url 'fichier:agenda_month_details' year month %}">le détail des entrées</a> du mois.</p>
    </div>

    {% if "fichier.change_entreeagenda" in perms %}
    <div class="suite"><a href="{% url 'fichier:simple_modifications' 'agenda' %}">dernières modifications ▸</a><br />
        <a href="{% url 'fichier:agenda_sans_niveau' %}">entrées sans niveau de contenu ▸</a>
    </div>
    {% endif %}

</div>
<div class="block tableau_agenda">
        {% show_month agenda year month  %}
</div>
{% endblock %}
