<div class="lien_next">
    {% if "fichier."|add:"add_"|add:critere_name in perms %}
<div  class="lien_next bouton"><a title="ajouter {{ nom_humain }}" href="{%url 'fichier:object_add' critere_name %}">+ {{ nom_humain }}</a></div>
    {% endif %}
</div>

{% if critere_name == "etiquette" or critere_name == "theme" %}
{% if "fichier."|add:"change_"|add:critere_name in perms %}
<div class="lien_next bouton"><a href="{%url 'fichier:merge' critere_name %}">fusionner deux {{ nom_humain_pluriel }}</a></div>
{% endif %}
{% endif %}

