{% if not critere_name == "niveau"  and not critere_name == "auteur" %}
{% if "fichier"|add:"edit_"|add:critere_name in perms %}
<a class="card_edit" href="{% url 'fichier:object_change' critere_name critere.id %}">éditer</a>
{% endif %}
    {% if not critere_name == "niveau" %}
        {% with 'fichier:'|add:critere_name|add:'_delete' as url_address %}
        {% if "fichier"|add:"delete_"|add:critere_name in perms %}
        <a class="card_edit" id="delete_button" href="{% url url_address critere.id %}">supprimer</a>
        {% endif %}
        {% endwith %}
    {% endif %}
{% endif %}
