{% load fichier_extras %}


<div class="block center-cal">
    <div class="centered texte_court onlyweb">
        <h2 class="description">Texte court</h2>
        {% if entree.texte_court %}
        {{ entree.texte_court | ajouter_glossaire:True | safe }}
        {% else %}
         <em>texte à venir</em>
        {% endif %}
    </div>
    <div class="centered texte_long">
        <h2 class="description onlyweb">Texte long</h2>
        {% if entree.texte_long %}
        {{ entree.texte_long | ajouter_glossaire:True | safe }}
        {% else %}
        <em>texte à venir</em>
        {% endif %}
        </div>
    </div>


{% if entree.fiches_associees.all %}
<div class="block bottom-cal">
    <{{ hx }}>Pour prolonger la lecture&nbsp;:</{{ hx }}>
<ul>
{% for associee in entree.fiches_associees.all %}
    <li>Consulter <a class="internal" href="{% url 'fichier:detail' associee.id %}">la fiche {{ associee.titre_fiche }} {{ associee.sous_titre }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
