{% load fichier_extras %}


<div class="block center-cal">
    <div class="centered">
    {{ entree.notes | ajouter_glossaire:True | safe }}
    </div>
</div>


{% if entree.fiches_associees.all %}
<div class="block bottom-cal">
    <{{ hx }}>Pour prolonger la lecture&nbsp;:</{{ hx }}>
<ul>
{% for associee in entree.fiches_associees.all %}
    <li>Consulter <a class="internal" href="{% url 'fichier:detail' associee.id %}">la fiche {{ associee.titre_fiche }} {{ associee.sous_titre }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
