{% load fichier_extras %}
<div class="block">
    <{{ niveau }}>Définition</{{ niveau }}>
    {{ entree.definition | ajouter_glossaire:1 | ajouter_liens | safe }}
</div>
{% with entree.matching_fiches as list_fiches %}
{% if list_fiches %}
<div class="block">
<h2>Fiche{% if list_fiches.all.count > 1%}s{% endif %} faisant mention de cette entrée du glossaire</h2>
<ul>
{% for fiche in list_fiches %}
    <li><a href="{% url 'fichier:detail' fiche.id %}">{{ fiche }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endwith %}

{% with entree.matching_entrees_agenda as list_eagenda %}
{% if list_eagenda %}
<div class="block">
<h2>Entrée{% if list_eagenda.all.count > 1%}s{% endif %} de l'agenda faisant mention de cette entrée du glossaire</h2>
<ul>
{% for e in list_eagenda %}
    <li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endwith %}