{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with critere_name_pluriel as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — {{ titre }} {{ visu }}
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        {% include "fiches/ajouter_critere.html" %}

        <h1>{{ titre }} {{ visu }}</h1>

        {% include "fiches/entete.html" %}
        
        Afficher par&nbsp;:

        {% with "fichier:"|add:critere_name_pluriel as template_name %}
            <a class="visu" href="{% url template_name %}">nombre de fiches</a>
        {% endwith %}

        {% with "fichier:"|add:critere_name_pluriel|add:"_alpha" as template_name %}
            <a class="visu" href="{% url template_name %}">ordre alphabétique</a>
        {% endwith %}

        {% if nom_humain_pluriel == "étiquettes" %}
        <span class="active_visu">nuage d'{{ nom_humain_pluriel }}</span>
        {% else %}
        <span class="active_visu">nuage de {{ nom_humain_pluriel }}</span>
        {% endif %}

        
        </div>
    <div class="block">
        {% include "fiches/nuage.html" %}

    </div>
{% endblock %}
