{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with critere_name_pluriel as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — {{ titre }} {{ visu }}
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        {% include "fiches/ajouter_critere.html" %}

        <h1>{{ titre }} {{ extension_titre }} {{ visu }} <span class="remarque">({% if nb_elements %}{{ elements.all.count }} entrées parmi {{ nb_elements }}{% else %}{{ elements.all.count }} entrées{% endif %})</span></h1>
 
        {% include "fiches/entete.html" %}

        <p>Afficher par&nbsp;:
        {% if visu_code == "basic" %} 
            <span class="active_visu">nombre de fiches</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel as template_name %}
            <a class="visu" href="{% url template_name %}">nombre de fiches</a>
            {% endwith %}
        {% endif %}
        {% if visu_code == "alpha" %} 
            <span class="active_visu">ordre alphabétique</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel|add:"_alpha" as template_name %}
            <a class="visu" href="{% url template_name %}">ordre alphabétique</a>
            {% endwith %}
        {% endif %}
            {% with "fichier:"|add:critere_name_pluriel|add:"_nuage"  as template_name %}
            <a class="visu" href="{% url template_name %}">nuage de {{ nom_humain_pluriel }}</a>
        {% endwith %}
        </p>

        {% if key_alpha %}
            {% index_alpha key_alpha url_key_alpha %}
        {% endif %}

        {% if paginator %}
            {% index_paginator paginator p_id url_key_paginator %}
        {% endif %}
        </div>
    <div class="block">
        <p>On retrouve dans le tableau ci-dessous le nombre de fiches de chaque niveau (théorique, pratique, opérationnel), ainsi que le nombre total de fiches par {{ nom_humain }}.
        {% if key_alpha %}
        {% if elements.all.count == 0 %}
            Il n'y a pas de {{ nom_humain }}
         {% else %}
            Il y a  {% if elements.all.count == 1 %} un seul {{ nom_humain }} {% else %} {{ elements.all.count }} {{ nom_humain_pluriel }} {% endif %}
        {% endif %}
        commençant par 
            {% if key_alpha == "-" %}
                un caractère non alphabétique.
            {% else %}
                {{ key_alpha }}.
            {% endif %}
        {% endif %}</p>

        {% include "fiches/table_par_niveau.html" %}

        {% if elements_second %}
        {% include "fiches/table_par_niveau.html" with elements=elements_second nom_humain=nom_humain_second critere_name=critere_name_second %}
        {% endif %}

    </div>

    {% if key_alpha or paginator %}
        <div class="block">
    {% if key_alpha %}
        {% index_alpha key_alpha url_key_alpha %}
    {% endif %}

    {% if paginator %}
        {% index_paginator paginator p_id url_key_paginator %}
    {% endif %}
    </div>
    {% endif %}
{% endblock %}
