{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with critere_name_pluriel as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — {{ titre }} {{ visu }}
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        <h1>{{ titre }} {{ visu }}</h1>
 
        <p>Afficher par&nbsp;:
        {% if visu_code == "basic" %} 
            <span class="active_visu">nombre de fiches</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel as template_name %}
            <a class="visu" href="{% url template_name %}">nombre de fiches</a>
            {% endwith %}
        {% endif %}
        {% if visu_code == "alpha" %} 
            <span class="active_visu">ordre alphabétique</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel|add:"_alpha" as template_name %}
            <a class="visu" href="{% url template_name %}">ordre alphabétique</a>
            {% endwith %}
        {% endif %}
            {% with "fichier:"|add:critere_name_pluriel|add:"_nuage"  as template_name %}
            <a class="visu" href="{% url template_name %}">nuage de {{ nom_humain_pluriel }}</a>
        {% endwith %}
        </p>
        
        </div>
    <div class="block">
        <p>On retrouve dans le tableau ci-dessous le nombre de fiches de chaque niveau (théorique, intermédiaire, pratique), ainsi que le nombre total de fiches par {{ nom_humain }}.</p>
        {% include "fiches/table_par_niveau.html" %}

        {% if elements_second %}
        {% include "fiches/table_par_niveau.html" with elements=elements_second nom_humain=nom_humain_second critere_name=critere_name_second %}
        {% endif %}

    </div>
{% endblock %}
