{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with critere_name_pluriel as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — Liste des {{ critere_human }}
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        <h1>{{ titre }} {{ visu }}</h1>
        Trier par&nbsp;:
        {% if visu_code == "basic" %} 
            <span class="active_visu">nombre de fiches</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel as template_name %}
            <a class="visu" href="{% url template_name %}">nombre de fiches</a>
            {% endwith %}
        {% endif %}
        {% if visu_code == "alpha" %} 
            <span class="active_visu">ordre alphabétique</span>
        {% else %}
            {% with "fichier:"|add:critere_name_pluriel|add:"_alpha" as template_name %}
            <a class="visu" href="{% url template_name %}">ordre alphabétique</a>
            {% endwith %}
        {% endif %}
        </div>
    <div class="block">
        <p>On retrouve dans le tableau ci-dessous le nombre de fiches  de chaque niveau (théorique, intermédiaire, pratique), ainsi que le nombre total de fiches par {{ nom_humain }}.</p>
        <table>
            <thead>
                <tr>
                    <th>{{ nom_humain }}</th>
                    <th>{% get_carre_colore_A %} théorique</th>
                    <th>{% get_carre_colore_B %} intermédiaire</th>
                    <th>{% get_carre_colore_C %} pratique</th>
                    <th>total</th>
                </tr>
            </thead>
            <tbody>
        {% for element in elements %}
            {% with "fichier:index_"|add:critere_name as template_name %}
            <tr><th><a href="{% url template_name element.id %}">{{ element.description_longue }}</a></th> 
                <td>{{element.fiche_count_A}}</td>
                <td>{{element.fiche_count_B}}</td>
                <td>{{element.fiche_count_C}}</td>
                <td>{{element.fiche_count }}</td> 
            </tr>
            {% endwith %}
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
