{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — suppression
{% endblock %}
{% block content %}
<div class="block">
    <h1>Suppression de "{{ object }}" </h1>
</div>
<div class="block attention">
    <form method="post">{% csrf_token %}
        <p><span class="panneau">?</span> Êtes-vous sûr de vouloir supprimer "{{ object }}"?</p>
        {% with object.associated_entries as associated %}
            {% if not associated %}
            <p style="font-size: 100%">Ce document n'est associé à aucun autre document. Sa suppression sera définitive.
            </p>
            {% else %}
            <p style="font-size: 100%">Les {{ associated.all.count }} documents suivants font référence à "{{ object }}":</p>
            <ul>
                {% for elem in associated %}
                    <li><a href="{{ elem.get_absolute_url }}">{{ elem }}</a></li>
                {% endfor %}
            </ul>
            <p style="font-size: 100%">La suppression de "{{ object }}" sera définitive. Les documents y faisant référence 
                ne seront quant à eux pas supprimés, mais perdront tout lien avec le document supprimé.</p>
            {% endif %}
        {% endwith %}
        <input class="button_round" type="submit" name="confirm" value="Confirmer">
        <input class="button_round" type="submit" name="cancel" value="Annuler">
    </form>
</div>


{% endblock %}

