{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "desk" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — Desk
{% endblock %}




{% block entete %}
Desk
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        <div class="lien_next bouton"><a title="ajouter un document" href="{%url 'fichier:object_add' 'document' %}">+ document</a></div>
        <h1>Desk</h1>
    </div>
    <div class="block">
        {% if entrees %}

        <table class="distribution">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date de création</th>
                    <th>Date de dernière modification</th>
                </tr>
            </thead>
            <tbody>
            {% for entree in entrees %}
                <td><a href="{% url 'fichier:document' entree.id %}">{{ entree }}</a></td>
                <td>{{ entree.date_creation }}</td> 
                <td>{{ entree.date_derniere_modification }}</td>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun document</p>
    {% endif %}
    </div>
</div>
{% endblock %}
