{% load static %}
{% load i18n %}

{% spaceless %}
<div class="related-widget-wrapper">
    <div class="dynamic-array-widget">
        <ul>
        {% for subwidget in widget.subwidgets %}
            <li class="array-item"}>
                {% with widget=subwidget %}
                    {% include widget.template_name %}
                {% endwith %}
                <div class="remove">
                    <div class="inline-deletelink"></div>
                </div>
            </li>
        {% endfor %}
        </ul>
        <div><input type="button" class="add-array-item" value="Ajouter"></div>
    </div>
</div>
{% endspaceless %}