{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — édition
{% endblock %}


{% block entete_header %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<link href="/static/css/django_better_admin_arrayfield.min.css" type="text/css" media="all" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/form_fiche.css' %}">
<link rel="stylesheet" href="{% static 'css/popup_add_dynamique.css' %}">
<script src="/static/js/django_better_admin_arrayfield.min.js"></script>
<script src="{% static 'js/shortcut.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function save_and_view(){
        document.getElementById('enregistrer').click()
    }
    shortcut.add("Meta+S", save_and_view);
    shortcut.add("Ctrl+S", save_and_view);

</script>
{% endblock %}


{% block content %}
{% load fichier_extras %}

<div class="block">
    <h1>{{ titre }}</h1>
</div>
<div class="block">
    <form method="post">
        <div class="boutons_edition">
            <input class="button_round" type="submit" value="Enregistrer (ctrl-s)">
            <input class="button_round" type="submit" name="annuler" value="Annuler">
        </div>

        {% csrf_token %}
        {{ form.media }}
            <div id="form_fiche">
            {% if header %}
                <div class="info_form_header">{{ header | safe }}</div>
            {% endif %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                {% if not field.id_for_label == "id_utiliser_suivant" %}
                <div id="field_wrapper_{{ field.id_for_label }}" class="field_form">
                    <div class="field_label">
                        <div id="{{ field.id_for_label }}_anchor" class="anchor"></div>
                        <div{% if field.field.required %} class="champs_requis"{% endif %}>{% if not nom_classe == "document" %}{{ field|label_with_stars|safe }}{% else %}{{ field.label }}{% endif %}</div>
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                        </div>
                    <div class="field_data">
                        <div>
                            <div class="main_field">
                                {% if validation %}{{ field.errors }}{% endif %}
                                {{ field }}
                            </div>
                            {% if field.id_for_label == "id_numero" %} 
                                <div class="second_field">
                                    <input type="checkbox" name="utiliser_suivant" id="id_utiliser_suivant" 
                                    {% if add %}
                                        checked
                                    {% endif %}
                                    >
                                    <label for="id_utiliser_suivant">Utiliser le prochain numéro disponible</label>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% if nom_classe == "fiche" %}
                {% set_listes_categories_modifieurs_champs %}
                <script src="{% static 'js/forme_dynamique.js' %}" ></script>
            {% endif %}
        </div>

        <div>
            {{ footer | safe }}
        </div>

        <div class="boutons_edition">
            <input class="button_round" type="submit" id="enregistrer" value="Enregistrer (ctrl-s)">
            <input class="button_round" type="submit" id="annuler" name="annuler" value="Annuler">
        </div>
    </form>
</div>

<div class="modal" id="popup_add_dynamique">
    <div class="popup">
        <div class="popup_head"><h2>Ajouter <span></span></h2>
        </div>
        <form>
            <div class="popup_body">
                <div class="erreur_popup"></div>
                <label for="popup_name">Nom&nbsp;: </label><input type="text" name="popup_name" id="popup_name">
            </div>
            <div class="popup_foot">
                <input class="button_round ajouter_popup actif" type="submit" id="ajouter_popup" value="Ajouter">
                <input class="button_round annuler_popup" id="annuler_popup" value="Annuler">
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/i18n/fr.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="{% static 'js/datepicker-fr.js' %}" ></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
{% if nom_classe == "fiche" or nom_classe == "entreeagenda" %}
<script src="{% static 'js/add_dynamique.js' %}" ></script>
{% endif %}
<script>
    window.csrftoken = '{{ csrf_token }}';
    $(document).ready(function() {

    {% if nom_classe == "fiche" %}
    var with_popups_add = [ "id_themes", "id_categories_libres", "id_mots_cles" ]
    var with_popups = [ "id_fiches_connexes" ]
    {% elif nom_classe == "entreeagenda" %}
    var with_popups_add = [ "id_themes", "id_motscles" ]
    var with_popups = [ "id_fiches_associees" ]
    {% else %}
    var with_popups_add = []
    var with_popups = []
    {% endif %}

    for (const element_class of with_popups_add) {
        const element = "#" + element_class + "_m2m";
        sort_default_list_m2m(element_class);

        $(element).select2({language: "fr"}).on('select2:open', (e) => {
            document.popup_preval = "";
           $(".select2-results:not(:has(a))").append('<a href="' + element + '_anchor" class="create_new_entry_select2">Créer un nouveau champ</a>');
            $(".select2-results a").click(function(handler) { 
                show_add_dynamique($(this), $(element));
            });
        }).on("change", (e) => {
            update_field_m2m(element_class);
        });
        $("#field_wrapper_" + element_class + ' .select2-search__field').on('keyup', function (e) {
                document.popup_preval = $("#field_wrapper_" + element_class + " .select2-search__field").val();
                if ($('.select2-results__option.select2-results__message').length != 0) {
                    if (e.key === 'Enter' || e.keyCode === 13) {
                        show_add_dynamique($(".select2-results a"), $(element));
                    }
                    $(".create_new_entry_select2").addClass("actif");   
                }
                else
                    $(".create_new_entry_select2").removeClass("actif");
        });

        $("#field_wrapper_" + element_class + " ul.select2-selection__rendered").sortable({
            containment: 'parent',
            stop: (e) => {
                update_field_m2m(element_class)}
        });

        fill_input_m2m(element_class);
    }

    for (const element_class of with_popups) {
        const element = "#" + element_class + "_m2m";
        sort_default_list_m2m(element_class);

        $(element).select2({language: "fr"}).on("change", (e) => {
            update_field_m2m(element_class);
        });

        $("#field_wrapper_" + element_class + " ul.select2-selection__rendered").sortable({
            containment: 'parent',
            stop: (e) => {
                update_field_m2m(element_class)}
        });

        fill_input_m2m(element_class);
    }

    $( 'input[name="date"]' ).datepicker();
    $( 'input[name="date_creation"]' ).datepicker();


});</script>


{% endblock %}

