{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "agenda" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block entete_header %}
{% load static %}
<script src="{% static 'js/shortcut.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function save_and_view(){
        document.getElementById('edit_button').click()
    }
    shortcut.add("Meta+E", save_and_view);
    shortcut.add("Ctrl+E", save_and_view);
</script>
{% endblock %}


{% block title %}
Le fichier Aidants365 — Agenda {{ entree.date }}
{% endblock %}




{% block entete %}
Glossaire
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        <div>
            <div class="left">{% lien_jour_un_an_avant un_an_prev %}</div>
            <div class="right">{% lien_jour_un_an_apres un_an_next %}</div>
            <div style="clear: both"></div>
        <div class="large">
            <div class="left">{% lien_jour_precedent prev %}</div>
            <div class="right">{% lien_jour_suivant next %}</div>
            <div style="clear: both"></div>
        </div>
        <h1>Entrée du {{ entree.date.day }} <a href="{% url 'fichier:agenda_month' entree.date.year entree.date.month %}">{{ entree.date|date:'F' }}</a> <a href="{% url 'fichier:agenda_year' entree.date.year %}">{{ entree.date.year }}</a> 
            {% if entree.marque %}
            ☑
            {% endif %}
            <a id="edit_button" class="card_edit" href="{% url 'fichier:object_change' 'agenda' entree.id %}">éditer <small>(ctrl+e)</small></a>
            <a class="card_edit" id="duplicate_button" href="{% url 'fichier:object_duplicate' 'agenda' entree.id %}">dupliquer</a>
            <a class="card_edit" id="invert_button" href="{% url 'fichier:entree_agenda_invert_with' entree.id %}">inverser avec une autre date</a>
            <a class="card_edit" id="delete_button" href="{% url 'fichier:entree_agenda_delete' entree.id %}">supprimer</a>
        </h1>
        {% if entree.themes.all %}
        <strong>Thème{% if entree.themes.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for theme in entree.themes.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_theme' theme.id %}">{{ theme }}</a>{% endfor %}<br>
        {% endif %}
        {% if entree.motscles.all %}
        <strong>Mot{% if entree.motscles.all.count > 1%}s{% endif %}-clé{% if entree.motscles.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for motcle in entree.motscles.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_motcle' motcle.id %}">{{ motcle }}</a>{% endfor %}
        {% endif %}

        {% if entree.date_derniere_modification %}
        <div class="lien_next">
            Dernière modification&nbsp;: {{entree.date_derniere_modification }}
        </div>
        <div style="clear: both"></div>
        {% endif %}

    </div>
    <div class="block">

        <h2>Notes</h2>
        {{ entree.notes | ajouter_glossaire:True | safe }}
        
    </div>

    {% if entree.fiches_associees.all %}
    <div class="block">
        <h2>Fiches associées</h2>
    <ul>
    {% for associee in entree.fiches_associees.all %}
        <li><a class="internal" href="{% url 'fichier:detail' associee.id %}">{{ associee }}</a></li>
    {% endfor %}
    </ul>
    </div>
    {% endif %}

</div>
{% endblock %}
