{% extends "fiches/page.html" %}

{% load fichier_extras %}


{% block title %}
Le fichier Aidants365 — Entrée glossaire : {{ entree }}
{% endblock %}


{% block entete_header %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<link rel="stylesheet" href="{% static 'css/page_html.css' %}">
<link rel="stylesheet" href="{% static 'css/pleine_page.css' %}">
<script src="{% static 'js/shortcut.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function save_and_view(){
        document.getElementById('edit_button').click()
    }
    shortcut.add("Meta+E", save_and_view);
    shortcut.add("Ctrl+E", save_and_view);
</script>
{% endblock %}


{% block entete %}
Glossaire
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        <p><a href="{% url 'fichier:glossaire' %}">◂ glossaire</a></p>
        
        <h1>Entrée glossaire&nbsp;: {{ entree.entree }} <a class="card_edit" id="edit_button" href="{% url 'fichier:object_change' 'glossaire' entree.id %}">éditer <small>(ctrl+e)</small></a>
            <a class="card_edit" id="delete_button" href="{% url 'fichier:entree_glossaire_delete' entree.id %}">supprimer</a>
        </h1>
            {% if entree.formes_alternatives %} 
        <p><strong>{% if entree.formes_alternatives|length > 1 %}Formes alternatives{% else %}Forme alternative{% endif %}&nbsp;:</strong> 
            {% for fa in entree.formes_alternatives %}{% if not forloop.first %}, {% endif %}{{ fa }}{% endfor %}
            {% endif %}
    </div>
    <div class="block">
            <h2>Définition</h2>
            {{ entree.definition | safe }}
        </div>
    {% with entree.matching_fiches as list_fiches %}
    {% if list_fiches %}
    <div class="block">
        <h2>Fiches faisant mention de cette entrée</h2>
    <ul>
        {% for fiche in entree.matching_fiches %}
            <li><a href="{% url 'fichier:detail' fiche.id %}">{{ fiche }}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endwith %}

{% endblock %}
