<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Le fichier Aidants365 — Agenda {{ entreeagenda.date }}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/contenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/page.css' %}">
    <link rel="stylesheet" href="{% static 'css/page_pdf.css' %}">
</head>
<body>
    {% include "fiches/affichage_entree_agenda.html" with entree=entreeagenda ephemeride=entreeagenda.to_ephemeride simple=1 %}
</body>