{% extends "fiches/page.html" %}

{% block entete_menu %}
{% with "agenda" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}

{% block entete_header %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/page.css' %}">
<link rel="stylesheet" href="{% static 'css/page_html.css' %}">
<link rel="stylesheet" href="{% static 'css/pleine_page.css' %}">
<script src="{% static 'js/shortcut.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    function save_and_view(){
        document.getElementById('edit_button').click()
    }
    shortcut.add("Meta+E", save_and_view);
    shortcut.add("Ctrl+E", save_and_view);
</script>
{% endblock %}


{% block title %}
Le fichier Aidants365 — Agenda {{ entree.date }}
{% endblock %}

{% block classe_principale %}page_agenda{% endblock %}


{% block entete %}
Glossaire
{% endblock %}

{% block content %}

{% include "fiches/navigation_agenda.html" %}

<div class="render-mode">
    Affichage A5
    <label class="switch">
        <input type="checkbox" id="render-A5">
        <span class="slider round"></span>
      </label>
      <script>
        const checkbox = document.getElementById('render-A5');
            checkbox.addEventListener('change', (event) => {
                const p = document.getElementById('page-A5');
                if (event.currentTarget.checked) {
                    p.classList.remove("web");
                } else {
                    p.classList.add("web");
                }
            });
            document.getElementById("render-A5").checked = false;
      </script>
</div>


{% if perms.fichier.change_entreeagenda %}
    {% if ephemeride.entree %} 
        {% with entree=ephemeride.entree %}
        <div class="menu-21">
            <div class="lien_next slim">
                <div class="lien_next bouton slim"><a id="edit_button" href="{% url 'fichier:object_change' 'agenda' entree.id %}">éditer <small>(ctrl+e)</small></a></div>
                <div class="lien_next bouton slim"><a id="duplicate_button" href="{% url 'fichier:object_duplicate' 'agenda' entree.id %}">dupliquer</a></div>
                <div class="lien_next bouton slim"><a id="invert_button" href="{% url 'fichier:entree_agenda_invert_with' entree.id %}">inverser avec une autre date</a></div>
                <div class="lien_next bouton slim"><a id="delete_button" href="{% url 'fichier:entree_agenda_delete' entree.id %}">supprimer</a></div>
                <div class="lien_next bouton slim"><a id="pdf_button" href="{% url 'fichier:entree_agenda_pdf' entree.id %}">pdf</a></div>
            </div>
            <div style="clear: both;margin-bottom: 1em"></div>
        </div>
        {% endwith %}
    {% endif %}
{% endif %}


{% include "fiches/affichage_entree_agenda.html"  %}
{% endblock %}
