{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — les fiches {{ critere_human }} {{ critere_nom }}
{% endblock %}

{% block parametres_ajouter_fiche %}{% spaceless %}
{% if critere_name == "categorie" %}
?categorie1={{ critere.id }}
{% elif critere_name == "categorie_libre" %}
?categories_libres={{ critere.id }}
{% elif critere_name == "theme" %}
?themes={{ critere.id }}
{% elif critere_name == "motcle" %}
?mots_cles={{ critere.id }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block description_ajouter_fiche %}{% spaceless %}
{% if critere_name == "categorie" %}
dans la catégorie {{ critere_nom }}
{% elif critere_name == "categorie_libre" %}
dans la catégorie libre {{ critere_nom }}
{% elif critere_name == "theme" %}
dans le thème {{ critere_nom }}
{% elif critere_name == "motcle" %}
avec le mot-clé {{ critere_nom }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        <h1>Toutes les entrées {{ critere_human }} {{ critere_nom }} {% if critere_name == "niveau" %}({{ critere.nom }}){% endif %}
            {% include "fiches/ajouter_supprimer_critere.html" %}</h1>
        

        {% if critere_name == "categorie" %}
        <p><em>{{ critere.nom }}</em></p>
        {% endif %}
        {% if critere_name == "niveau" %}
        <p><em>{{ critere.description }}</em></p>
        {% endif %}
    </div>
    <div class="block">
        {% if fiche_list %}

        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul>
            {% for fiche in niveau.list %}
                {% with "fichier:index_"|add:critere_name|add:"_detail" as template_name %}
                <li id="fiche{{ fiche.id }}">{{ fiche.niveau.couleur | carre_colore }} <a href="{% url template_name critere.id fiche.id %}">{{ fiche }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>

        {% endfor %}

    {% else %}
    <h2>Fiches</h2>
    <p>Pas de fiche disponible.</p>
    {% endif %}
    {% if critere_name == "theme" or critere_name == "motcle" %}
        <h2>Entrées de l'agenda</h2>
        {% if entreesagenda %}
        <ul>
        {% for entree in entreesagenda %}
        <li><a href="{{ entree.get_absolute_url }}">{{ entree }}</a></li>
        {% endfor %}
        </lul>
        {% else %}
        <p>Pas d'entrée d'agenda disponible.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
