{% extends "fiches/page_accueil.html" %}


{% block title %}
Le fichier Aidants365
{% endblock %}

{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}
    <div class="block" id="entete">
        <h1>Toutes les fiches</h1>
    </div>
    <div class="block">
        {% if fiche_list %}
        <ul>
        {% for fiche in fiche_list %}
            <li><a href="/fichier/fiche/{{ fiche.id }}/">{{ fiche }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
{% endblock %}
