{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — les fiches {{ critere_human }} {{ critere_nom }}
{% endblock %}

{% block parametres_ajouter_fiche %}{% spaceless %}
{% if critere_name == "categorie" %}
?categorie1={{ critere.id }}
{% elif critere_name == "theme" %}
?themes={{ critere.id }}
{% elif critere_name == "etiquette" %}
?etiquettes={{ critere.id }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block description_ajouter_fiche %}{% spaceless %}
{% if critere_name == "categorie" %}
dans la catégorie {{ critere_nom }}
{% elif critere_name == "theme" %}
dans le thème {{ critere_nom }}
{% elif critere_name == "etiquette" %}
avec l'étiquette {{ critere_nom }}
{% endif %}
{% endspaceless %}{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        <h1><span class="intro-title">Toutes les entrées {{ critere_human }}</span> <span class="main-title">{{ critere_nom }}</span> {% if critere_name == "niveau" %}({{ critere.nom }}){% endif %}
            {% include "fiches/ajouter_supprimer_critere.html" %}</h1>
        

        {% if critere_name == "categorie" %}
        <p><em>{{ critere.nom }}</em></p>
        {% endif %}
        {% if critere_name == "niveau" %}
        <p><em>{{ critere.description }}</em></p>
        {% endif %}
    </div>
    <div class="block">
        {% if fiche_list %}

        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul class="no_puces">
            {% for fiche in niveau.list %}
                {% with "fichier:index_"|add:critere_name|add:"_detail" as template_name %}
                <li id="fiche{{ fiche.id }}">{{ fiche.niveau.couleur | carre_colore }} <a href="{% url template_name critere.id fiche.id %}">{{ fiche }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>

        {% endfor %}

    {% else %}
    <h2>Fiches</h2>
    <p>Pas de fiche disponible.</p>
    {% endif %}
    {% if critere_name == "theme" or critere_name == "etiquette" %}
        <h2>Entrées de l'agenda</h2>
        {% if entreesagenda %}
        <ul>
        {% for entree in entreesagenda %}
        <li><a href="{{ entree.get_absolute_url }}">{{ entree }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Pas d'entrée d'agenda disponible.</p>
        {% endif %}
    {% endif %}

    {% if entreesglossaire %}
    <h2>Entrée{% if entreesglossaire.all.count > 1%}s{% endif %} du glossaire similaire{% if entreesglossaire.all.count > 1%}s{% endif %} à cette étiquette</h2>
    <ul>
        {% for eg in entreesglossaire %}
        <li><a href="{{ eg.get_absolute_url }}">{{ eg }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if etiquettesconnexes %}
    <h2>Étiquettes connexes</h2>
    <p>Deux étiquettes sont considérées connexes si elles apparaissent en même temps dans une même fiche, ou dans une même entrée d'agenda.</p>
    <ul>
        {% for mc in etiquettesconnexes %}
        <li><a href="{{ mc.get_absolute_url }}">{{ mc }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if themesconnexes %}
    <h2>Thèmes connexes</h2>
    <p>Deux thèmes sont considérés connexes s'ils apparaissent en même temps dans une même fiche, ou dans une même entrée d'agenda.</p>
    <ul>
        {% for tc in themesconnexes %}
        <li><a href="{{ tc.get_absolute_url }}">{{ tc }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}

</div>
{% endblock %}
