{% extends "fiches/page.html" %}

{% block classe_principale %}detail_page{% endblock %}


{% load fichier_extras %}

{% block entete_menu %}
{% with "fiches" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — toutes les fiches
{% endblock %}




{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        {% if "fichier.add_fiche" in perms %}
        <div class="lien_next bouton"><a title="ajouter une fiche" href="{%url 'fichier:object_add' 'fiche' %}">+ fiche</a></div>
        {% endif %}
        <h1>Toutes les fiches</h1>
        {% include "fiches/entete.html" %}
        <p>Vous pouvez <a class="bouton_inline" id="dl_pdf" href="/media/fiches.pdf">télécharger</a> un pdf contenant toutes les fiches. Ce document n'est assemblé qu'une fois par jour.</p>
        {% if "fichier.change_fiche" in perms %}
        <div class="suite"><a href="{% url 'fichier:simple_modifications' 'fiches' %}">dernières modifications ▸</a></div>
        {% endif %}

    </div>
    <div class="block">
        {% include "fiches/nuage.html" %}
        
        <div class="suite"><a href="{% url 'fichier:categories_alpha' %}">détail des catégories ▸</a></div>

    </div>
    <div class="block">
        {% if fiche_list %}
        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul class="no_puces">
            {% for fiche in niveau.list %}
                <li id="fiche{{ fiche.id }}">{{ fiche.niveau.couleur | carre_colore }} <a href="{% url 'fichier:index_detail' fiche.id %}">{{ fiche }}</a></li>
            {% endfor %}
            </ul>

        {% endfor %}
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
</div>
<div id="dl_message">
    <div><p>Veuillez patienter pendant la fabrication du document...</p></div>
</div>
{% endblock %}
