{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365
{% endblock %}

{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}
    <div class="block" id="entete">
        <h1>Toutes les fiches</h1>
    </div>
    <div class="block">
        {% if fiche_list %}
        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul>
            {% for fiche in niveau.list %}
                <li><a href="{% url 'fichier:index_detail' fiche.id %}">{{ fiche }}</a></li>
            {% endfor %}
            </ul>

        {% endfor %}
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
