{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — les fiches {{ critere_human }} {{ critere_nom }}
{% endblock %}

{% block content %}
    <div class="block" id="entete">
        <h1>Toutes les fiches {{ critere_human }} {{ critere_nom }}</h1>
    </div>
    <div class="block">
        {% if fiche_list %}

        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul>
            {% for fiche in niveau.list %}
                {% with "fichier:index_"|add:critere_name|add:"_detail" as template_name %}
                <li><a href="{% url template_name critere.id fiche.id %}">{{ fiche }}</a></li>
                {% endwith %}
            {% endfor %}
            </ul>

        {% endfor %}
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
{% endblock %}
