{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with "glossaire" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — Glossaire
{% endblock %}




{% block entete %}
Glossaire
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        <div class="lien_next bouton"><a title="ajouter une entrée de glossaire" href="{%url 'fichier:object_add' 'glossaire' %}">+ entrée glossaire</a></div>
        <h1>Glossaire <span class="remarque">({{ entrees.all.count }} entrées sur {{ nb_entrees }})</span></h1>

        {% include "fiches/entete.html" %}
        
        {% index_alpha key "fichier:glossaire_page" %}
    </div>
    <div class="block">
        {% if entrees %}

        {% for entree in entrees %}
            <h2><a href="{% url 'fichier:entree_glossaire' entree.id %}">{{ entree }}</a>
                {% if entree.formes_alternatives %} 
                <span class="formes-alternatives">({% for alt in entree.formes_alternatives %}{% if not forloop.first %}, {% endif %}{{ alt }}{% endfor %})</span>
                {% endif %}
            </h2>
            {{ entree.definition | safe }}
        {% endfor %}
    {% else %}
        {% if key == "-" %}
        <p>Pas d'entrée de glossaire commençant par un caractère non alphabétique.</p>
        {% else %}
        <p>Pas d'entrée de glossaire commençant par {{ key }}.</p>
        {% endif %}
    {% endif %}
    </div>

    <div class="block">
        {% index_alpha key "fichier:glossaire_page" %}
    </div>
</div>
{% endblock %}
