{% extends "fiches/page.html" %}

{% block classe_principale %}detail_page{% endblock %}


{% load fichier_extras %}

{% block entete_menu %}
{% with "fiches" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365 — toutes les fiches
{% endblock %}




{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}


    <div class="block" id="entete">
        <div class="lien_next bouton"><a title="ajouter une fiche" href="{%url 'fichier:object_add' 'fiche' %}">+ fiche</a></div>
        <h1>Toutes les fiches</h1>
        {% include "fiches/entete.html" %}
        <p>Vous pouvez <button class="bouton_inline" id="dl_pdf">télécharger</button> un pdf contenant toutes les fiches. Attention, sa fabrication prend du temps.</p>
        <div class="suite"><a href="{% url 'fichier:simple_modifications' 'fiches' %}">dernières modifications ▸</a></div>
    </div>
    <div class="block">
        {% if fiche_list %}
        {% regroup fiche_list|dictsort:"niveau.applicable" by niveau.get_applicable_display as niveau_list %}


        {% for niveau in niveau_list %}
            <h2>Fiches de niveau {{ niveau.grouper }}</h2>
            <ul class="no_puces">
            {% for fiche in niveau.list %}
                <li id="fiche{{ fiche.id }}">{{ fiche.niveau.couleur | carre_colore }} <a href="{% url 'fichier:index_detail' fiche.id %}">{{ fiche }}</a></li>
            {% endfor %}
            </ul>

        {% endfor %}
    {% else %}
        <p>Pas de fiche disponible.</p>
    {% endif %}
    </div>
</div>
<div id="dl_message">
    <div><p>Veuillez patienter pendant la fabrication du document...</p></div>
</div>
<script>
    var a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";

    const dl = async function() {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        url = "{% url 'fichier:fiches_pdf' %}";
        document.getElementById("dl_message").className = "visible";
        let response = await fetch(url);

        if (response.ok) { // if HTTP-status is 200-299
            filename = response.headers.get('content-disposition').split('=')[1];
            pdf = await response.blob();
            var file = window.URL.createObjectURL(pdf);
            a.href = file;
            a.download = filename;
            a.click();
            window.URL.revokeObjectURL(file);
        }
        // TODO: show an error message if not ok
        document.getElementById("dl_message").className = "";
    }
    
    document.getElementById("dl_pdf").addEventListener('click', event => {
        dl() });

    </script>
{% endblock %}
