{% extends "fiches/page.html" %}


{% block title %}
Le fichier Aidants365 — inverser deux entrées d'agenda
{% endblock %}

{% block entete_header %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<link rel="stylesheet" href="{% static 'css/form_fiche.css' %}">
{% endblock %}




{% block content %}
<div class="block">
    <h1>Inverser deux entrées d'agenda</h1>
</div>
<div class="block">
    <p class="attention"><span class="panneau">!</span> Attention, cette opération est définitive, et vous ne pourrez pas revenir en arrière.</p>
    <p>Choissez les deux entrées d'agenda dont vous souhaitez inverser le contenu (thèmes, mots-clés, notes, etc).</p>
    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class="boutons_edition">
            <input class="button_round" type="submit" id="inverser" value="Inverser">
        </div>
    </form>
    <form method="post">
        {% csrf_token %}
        <div class="boutons_edition">
            <input class="button_round" type="submit" id="annuler" name="annuler" value="Annuler">
        </div>
    </form>
</div>


{% endblock %}
