{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with classname as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — dernières modifications
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        {% if classname != "" %}
            {% if classname == "fiches" %}
            <h1>Dernières modifications des <a href="{% url 'fichier:index' %}">fiches</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification les fiches.
            </p>
            {% elif classname == "agenda" %}
            <h1>Dernières modifications de l'<a href="{% url 'fichier:agenda' %}">agenda</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification les entrées de l'agenda.
            </p>
            {% elif classname == "glossaire" %}
            <h1>Dernières modifications du <a href="{% url 'fichier:glossaire' %}">glossaire</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification les entrées du glossaire.
            </p>
            {% elif classname == "categories" %}
            <h1>Dernières modifications des <a href="{% url 'fichier:categories' %}">catégories</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification des catégories.
            </p>
            {% elif classname == "themes" %}
            <h1>Dernières modifications des <a href="{% url 'fichier:themes' %}">thèmes</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification des thèmes.
            </p>
            {% elif classname == "etiquettes" %}
            <h1>Dernières modifications des <a href="{% url 'fichier:etiquettes' %}">étiquettes</a></h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification des étiquettes.
            </p>
            {% elif classname == "entetes" %}
            <h1>Dernières modifications des entêtes de pages</h1>
            <p>
                Sont listées ci-dessous par ordre de dernière modification les entêtes de page.
            </p>
            {% endif %}
            <p>Voir aussi les modifications de <a href="{% url 'fichier:modifications' %}">tous les documents</a>.</p>
        {% else %}
        <h1>Dernières modifications</h1>
        <p>
            Sont listées ci-dessous par ordre de dernière modification les différentes entrées du fichier aidants365.
        </p>
        <p>Consulter spécifiquement les modifications  
            des <a href="{% url 'fichier:simple_modifications' 'fiches' %}">fiches</a>,
            de l'<a href="{% url 'fichier:simple_modifications' 'agenda' %}">agenda</a>,
            du <a href="{% url 'fichier:simple_modifications' 'glossaire' %}">glossaire</a>,
            des <a href="{% url 'fichier:simple_modifications' 'themes' %}">thèmes</a>,
            des <a href="{% url 'fichier:simple_modifications' 'etiquettes' %}">étiquettes</a>,
            des <a href="{% url 'fichier:simple_modifications' 'categories' %}">catégories</a> et
            des <a href="{% url 'fichier:simple_modifications' 'entetes' %}">entêtes de page</a>.</p>
        {% endif %}

        {% if paginator %}
            {% index_paginator paginator p_id url_key_paginator classname %}
        {% endif %}
    </div>
    <div class="block">
        <ul>
        
        {% for entree in elements %}
        <li><a href="{{ entree.get_absolute_url }}">{{ entree }}</a> 
            {% if entree.date_derniere_modification|is_recent_entry %}
                — dernière modification&nbsp;: {{entree.date_derniere_modification}}</li>
            {% endif %}
        {% endfor %}
        </ul>
</div>
{% endblock %}
