{% extends "fiches/page.html" %}

{% load fichier_extras %}

{% block entete_menu %}
{% with classname as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Aidants 365 — dernières modifications
{% endblock %}

{% block content %}
    {% load fichier_extras %}
    <div class="block" id="entete">
        {% if classname == "fiches" %}
        <h1>Dernières modifications des fiches</h1>
        <p>
            Sont listées ci-dessous par ordre de dernière modification les fiches.
        </p>
        <p>Voir aussi les modifications de <a href="{% url 'fichier:modifications' %}">tous les documents</a>.</p>
        {% elif classname == "agenda" %}
        <h1>Dernières modifications de l'agenda</h1>
        <p>
            Sont listées ci-dessous par ordre de dernière modification les entrées de l'agenda.
        </p>
        <p>Voir aussi les modifications de <a href="{% url 'fichier:modifications' %}">tous les documents</a>.</p>
        {% elif classname == "glossaire" %}
        <h1>Dernières modifications du glossaire</h1>
        <p>
            Sont listées ci-dessous par ordre de dernière modification les entrées du glossaire.
        </p>
        <p>Voir aussi les modifications de <a href="{% url 'fichier:modifications' %}">tous les documents</a>.</p>
        {% else %}
        <h1>Dernières modifications</h1>
        <p>
            Sont listées ci-dessous par ordre de dernière modification les différentes entrées du fichier aidants365.
        </p>
        <p>Consulter spécifiquement les modifications  
            des <a href="{% url 'fichier:simple_modifications' 'glossaire' %}">fiches</a>,
            de l'<a href="{% url 'fichier:simple_modifications' 'glossaire' %}">agenda</a>
            et du <a href="{% url 'fichier:simple_modifications' 'glossaire' %}">glossaire</a>.</p>
        {% endif %}

        {% if paginator %}
            {% index_paginator paginator p_id url_key_paginator classname %}
        {% endif %}
    </div>
    <div class="block">
        <ul>
        
        {% for entree in elements %}
        <li><a href="{{ entree.get_absolute_url }}">{{ entree }}</a> 
            {% if entree.date_derniere_modification|is_recent_entry %}
                — dernière modification&nbsp;: {{entree.date_derniere_modification}}</li>
            {% endif %}
        {% endfor %}
        </ul>
</div>
{% endblock %}
