{% if ephemeride.un_an_avant_entree %}
{% load fichier_extras %}
<div class="navigation_agenda">
    <div class="left">{% lien_jour_un_an_avant ephemeride.un_an_avant_entree %}</div>
    <div class="right">{% lien_jour_un_an_apres ephemeride.un_an_apres_entree %}</div>
    <div style="clear: both"></div>

    <div class="left">{% lien_jour_precedent ephemeride.prev_entree %}</div>
    <div class="right">{% lien_jour_suivant ephemeride.next_entree %}</div>
    <div style="clear: both"></div>
</div>

{% endif %}