<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block entete_header %}
    {% endblock %}
</head>
<body>
  <div id="full_content">
    <div id="menubar">
      <div>
        <ul>
          <li><a href="{% url 'fichier:accueil' %}">Accueil</a></li>
          <li><a href="{%url 'admin:fichier_fiche_add' %}">+ créer une fiche</a></li>
        </ul>

      <form id="recherche_barre" action="{% url 'fichier:rechercher' %}" class="form-inline" method="get">
        <input name="search" type="" class="form-control">
        <button type="submit">Rechercher</button>
      </form>
    </div>
    </div>
    <div id="content">
    {% block content %}{% endblock %}
  </div>
  </div>
  <div id="footer">
    <p>Projet Aidants 365 — copyright Dominique Chevallier-Wixler et Jean-Marie Favreau, 2022</p>
    <p><a href="{% url 'admin:index' %}">Administration</a></p>
  </div>
</body>
</html>
