<!DOCTYPE html>
<html lang="fr">
{% load fichier_extras %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}{% endblock %}</title>
    
    {% load static %}
    {% if debug %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon-dev.svg' %}">
    {% else %}
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contenu.css' %}">
    {% block entete_header %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/responsive-menubar.css' %}">
</head>
<body>
  <div id="full_content" class="{% block classe_principale %}{% endblock %}">
    <div id="menubar" class="topnav">
      <div>
        <ul>{% block entete_menu %}
          <li {% if active_page == "accueil" %}class="actif"{% endif %}><a href="{% url 'fichier:accueil' %}">Accueil</a></li>
          <li {% if active_page == "agenda" %}class="actif"{% endif %}><a href="{% url 'fichier:agenda' %}">Agenda</a></li>
          <li {% if active_page == "fiches" %}class="actif"{% endif %}><a href="{% url 'fichier:index' %}">Fiches</a></li>
          <li class="sousmenu{% if active_page == 'categories' or active_page == 'themes' or active_page == 'etiquettes' %} actif{% endif %}"><span class="entete">Thématiques ▾</span>
            <ul>
              <li {% if active_page == "etiquettes" %}class="actif"{% endif %}><a href="{% url 'fichier:etiquettes_alpha' %}">Étiquettes</a></li>              
              <li {% if active_page == "themes" %}class="actif"{% endif %}><a href="{% url 'fichier:themes_alpha' %}">Thèmes</a></li>
              <li {% if active_page == "categories" %}class="actif"{% endif %}><a href="{% url 'fichier:categories_alpha' %}">Catégories</a></li>
            </ul>
          </li>
          <li {% if active_page == "glossaire" %}class="actif"{% endif %}><a href="{% url 'fichier:glossaire' %}">Glossaire</a></li>
          <li {% if active_page == "a_propos" %}class="actif"{% endif %}><a href="{% url 'fichier:a_propos' %}">À propos</a></li>
          <li class="onglet_rechercher {% if active_page == "rechercher" %}actif{% endif %}"><a href="{% url 'fichier:rechercher' %}">Rechercher</a></li>
          <li class="icon"><a href="javascript:void(0);" onclick="switchMenuBar()">
            &#9776;
          </a></li>
          {% if perms.fichier.view_document %} 
          <li class="prive {% if active_page == 'desk' %} actif{% endif %}"><a href="{% url 'fichier:desk' %}">Desk</a></li>
          {% endif %}
        </ul>{% endblock %}
        <script>
          function switchMenuBar() {
            var x = document.getElementById("menubar");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
          </script>
      <form id="recherche_barre" action="{% url 'fichier:rechercher' %}" class="form-inline" method="get">
        <input name="search" type="" class="form-control">
        <button class="bouton" type="submit"><span>Rechercher</span></button>
      </form>
    </div>
    </div>
    <div id="content">
      {% if messages %}
      <ul class="messagelist">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} {{ message | button_add_another_on_create }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      {% load fichier_extras %}
        
    {% block content %}{% endblock %}

    <div id="legende">
      <div class="legende"><span class="avant">▴</span>Légende<span class="apres">▴</span></div>
      <div class="entrees">
        <div>{% get_carre_colore_A %}<span class="titre">Niveau {% get_nom_niveau_A %}</span>
          <span class="liste">{% liste_niveaux "A" %}</span>
        </div>
        <div>{% get_carre_colore_B %}<span class="titre">Niveau {% get_nom_niveau_B %}</span>
          <span class="liste">{% liste_niveaux "B" %}</span>
        </div>
        <div>{% get_carre_colore_C %}<span class="titre">Niveau {% get_nom_niveau_C %}</span>
          <span class="liste">{% liste_niveaux "C" %}</span>
        </div>
      </div>
      <div class="fin"></div>
    </div>

  </div>
  </div>
  <div id="footer">
    <p>Projet Aidants 365 — copyright Dominique Chevallier-Wixler et Jean-Marie Favreau, 2022</p>
    <ul>
        <li><a href="{% url 'admin:index' %}">administration</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next=/">déconnexion</a></li>
        <li>vous êtes connecté(e) en tant que {{ user }}</li>
      {% endif %}
    </ul>
  </div>
  {% block footer_js %}{% endblock %}
</body>
</html>
