<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/contenu.css' %}">
    {% block entete_header %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/responsive-menubar.css' %}">
</head>
<body>
  <div id="full_content">
    <div id="menubar" class="topnav">
      <div>
        <ul>{% block entete_menu %}
          <li {% if active_page == "accueil" %}class="actif"{% endif %}><a href="{% url 'fichier:accueil' %}">Accueil</a></li>
          <li {% if active_page == "fiches" %}class="actif"{% endif %}><a href="{% url 'fichier:index' %}">Fiches</a></li>
          <li {% if active_page == "categories" %}class="actif"{% endif %}><a href="{% url 'fichier:categories' %}">Catégories</a></li>
          <li {% if active_page == "themes" %}class="actif"{% endif %}><a href="{% url 'fichier:themes' %}">Thèmes</a></li>
          <li {% if active_page == "motscles" %}class="actif"{% endif %}><a href="{% url 'fichier:motscles' %}">Mots-clés</a></li>
          <li class="onglet_rechercher {% if active_page == "rechercher" %}actif{% endif %}"><a href="{% url 'fichier:rechercher' %}">Rechercher</a></li>
          <li class="bouton espace-gauche" id="ajouter_fiche"><a href="{%url 'admin:fichier_fiche_add' %}" title="créer une fiche">+ créer une fiche</a></li>
          <li class="icon"><a href="javascript:void(0);" onclick="switchMenuBar()">
            &#9776;
          </a></li>
        </ul>{% endblock %}
        <script>
          function switchMenuBar() {
            var x = document.getElementById("menubar");
            if (x.className === "topnav") {
              x.className += " responsive";
            } else {
              x.className = "topnav";
            }
          }
          </script>

      <form id="recherche_barre" action="{% url 'fichier:rechercher' %}" class="form-inline" method="get">
        <input name="search" type="" class="form-control">
        <button class="bouton" type="submit"><span>Rechercher</span></button>
      </form>
    </div>
    </div>
    <div id="content">
      {% if messages %}
      <ul class="messagelist">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
      </ul>
      {% endif %}

    {% block content %}{% endblock %}
  </div>
  </div>
  <div id="footer">
    <p>Projet Aidants 365 — copyright Dominique Chevallier-Wixler et Jean-Marie Favreau, 2022</p>
    <ul>
        <li><a href="{% url 'admin:index' %}">administration</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}?next=/">déconnexion</a></li>
      {% endif %}
    </ul>
  </div>
  {% block footer_js %}{% endblock %}
</body>
</html>
