{% extends "fiches/page.html" %}

{% block content %}
    <div id="entete" class="block">
    {% block entete %}
    {% endblock %}
    </div>

    <div id="suite_page">
        <div class="column_small" id="liste_entrees">
            <div class="block">
                {% block gauche1 %}
                {% endblock %}
            </div>
        </div>

        <div class="column_large document">
            {% block droite %}
            {% endblock %}
        </div>
    </div>
    
{% endblock %}
