{% extends "fiches/page.html" %}


{% block entete_menu %}
{% with "rechercher" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365
{% endblock %}

{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}
{% load fichier_extras %}

    <div class="block" id="entete">
        <h1>Recherche</h1>
    </div>
    <div class="block{% if recherche == None %} recherche_vide{% endif %} boite_recherche">
        <form action="{% url 'fichier:rechercher' %}" class="form-inline" method="get">
            <input name="search" type="" class="form-control" value="{% if recherche != None %}{{ recherche }}{% endif %}" autofocus>
            <button type="submit">Rechercher</button>
       </form>


        
    {% if recherche != None %}

    {% if results_categories|length > 0 %}
    <p><strong>Catégorie{% if results_categories|length > 1 %}s{% endif %}&nbsp;:</strong>
        {% for categorie in results_categories %}{% if not forloop.first %}, {% endif %}<a href="{% url 'fichier:index_categorie' categorie.id %}">{{ categorie.nom_hl | safe }}</a>{% endfor %}
     </p>
     {% endif %}

     {% if results_categories_libres|length > 0 %}
     <p><strong>{% if results_categories_libres|length > 1 %}Catégories libres{% else %}Catégorie libre{% endif %}&nbsp;:</strong>
         {% for categorie in results_categories_libres %}{% if not forloop.first %}, {% endif %}<a href="{% url 'fichier:index_categorie_libre' categorie.id %}">{{ categorie.nom_hl | safe }}</a>{% endfor %}
      </p>
      {% endif %}

      
     {% if results_themes|length > 0 %}
       <p><strong>Thème{% if results_themes|length > 1 %}s{% endif %}&nbsp;:</strong>
        {% for theme in results_themes %}{% if not forloop.first %}, {% endif %}<a href="{% url 'fichier:index_theme' theme.id %}">{{ theme.nom_hl | safe }}</a>{% endfor %}
        </p>
    {% endif %}

    {% if results_motscles|length > 0 %}
       <p><strong>{% if results_motscles|length > 1 %}Étiquettes{% else %}Étiquette{% endif %}&nbsp;:</strong>
        {% for motcle in results_motscles %}{% if not forloop.first %}, {% endif %}<a href="{% url 'fichier:index_motcle' motcle.id %}">{{ motcle.nom_hl | safe }}</a>{% endfor %}
        </p>
    {% endif %}


    {% if results_fiches|length == 0 %}
    <p>Aucune <a href="{% url 'fichier:index' %}">fiche</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 
    {% if results_glossaire|length == 0 %}
    <p>Aucune entrée du <a href="{% url 'fichier:glossaire' %}">glossaire</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 
    {% if results_agenda|length == 0 %}
    <p>Aucune entrée de l'<a href="{% url 'fichier:agenda' %}">agenda</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 
    {% if results_document|length == 0 %}
    <p>Aucun document du <a href="{% url 'fichier:desk' %}">desk</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 

    {% if results_entetes|length == 0 %}
    <p>Aucune entête ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %}
    
    {% if results_fiches|length > 0 %}
        <h2>{{ results_fiches.count }} 
            {% if results_fiches|length > 1 %}
                fiches
            {% else %}
                fiche
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for fiche in results_fiches %}
            <li><strong>{{ fiche.niveau.couleur | carre_colore }} <a href="{% url 'fichier:detail' fiche.id %}?search={{ recherche }}">{{ fiche.agg_title_hl | safe }}</a></strong>
                <p class="preview_highlight">{{ fiche.agg_contenu_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if results_glossaire|length > 0 %}
        <h2>{{ results_glossaire.count }} 
            {% if results_glossaire|length > 1 %}
                entrées de glossaire
            {% else %}
                entrée de glossaire
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for entree in results_glossaire %}
            <li><strong><a href="{% url 'fichier:entree_glossaire' entree.id %}?search={{ recherche }}">{{ entree.entree_hl | safe }}</a></strong>
                {% if entree.formes_alternatives_hl %}
                    ({{ entree.formes_alternatives_hl | safe }})
                {% endif %}
                <p class="preview_highlight">{{ entree.definition_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    {% if results_agenda|length > 0 %}
        <h2>{{ results_agenda.count }} 
            {% if results_agenda|length > 1 %}
                entrées de l'agenda
            {% else %}
                entrée de l'agenda
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for entree in results_agenda %}
            <li><strong><a href="{{ entree.get_absolute_url }}?search={{ recherche }}">{{ entree }}</a></strong>
            <p class="preview_highlight">{{ entree.notes_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}


    {% if results_documents|length > 0 %}
        <h2>{{ results_documents.count }} 
            {% if results_documents|length > 1 %}
                documents du desk
            {% else %}
                document du desk
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for entree in results_documents %}
            <li><strong><a href="{% url 'fichier:document' entree.id %}?search={{ recherche }}">{{ entree.titre_hl | safe }}</a></strong>
                <p class="preview_highlight">{{ entree.contenu_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}


    {% if results_entetes|length > 0 %}
        <h2>{{ results_entetes.count }} 
            {% if results_entetes|length > 1 %}
                entêtes
            {% else %}
                entête
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for entree in results_entetes %}
            <li><strong><a href="{{ entree.get_absolute_url }}?search={{ recherche }}">Entête {{ entree.get_nom_page }}</a></strong>
                <p class="preview_highlight">{{ entree.texte_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}

    {% endif %}

    </div>
</div>
{% endblock %}
