{% extends "fiches/page.html" %}


{% block entete_menu %}
{% with "rechercher" as active_page %}
    {{ block.super }}
{% endwith %}
{% endblock %}



{% block title %}
Le fichier Aidants365
{% endblock %}

{% block entete %}
Toutes les fiches
{% endblock %}

{% block content %}
{% load fichier_extras %}

    <div class="block" id="entete">
        <h1>Recherche</h1>
    </div>
    <div class="block{% if recherche == None %} recherche_vide{% endif %} boite_recherche">
        <form action="{% url 'fichier:rechercher' %}" class="form-inline" method="get">
            <input name="search" type="" class="form-control" value="{% if recherche != None %}{{ recherche }}{% endif %}" autofocus>
            <button type="submit">Rechercher</button>
       </form>


        
    {% if recherche != None %}

    {% if results_fiches|length == 0 %}
    <p>Aucune <a href="{% url 'fichier:index' %}">fiche</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 
    {% if results_glossaire|length == 0 %}
    <p>Aucune entrée du <a href="{% url 'fichier:glossaire' %}">glossaire</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 
    {% if results_agenda|length == 0 %}
    <p>Aucune entrée de l'<a href="{% url 'fichier:agenda' %}">agenda</a> ne correspond à la recherche « <strong>{{ recherche }}</strong> ».</p>
    {% endif %} 

    {% if results_fiches|length > 0 %}
            <h2>{{ results_fiches.count }} 
                {% if results_fiches|length > 1 %}
                    fiches
                {% else %}
                    fiche
                {% endif %}
                correspondant à « {{ recherche }} »</h2>
            <ol>
            {% for fiche in results_fiches %}
                <li><strong>{{ fiche.niveau.couleur | carre_colore }} <a href="{% url 'fichier:detail' fiche.id %}?search={{ recherche }}">{{ fiche.agg_title_hl | safe }}</a></strong>
                    <p class="preview_highlight">{{ fiche.agg_contenu_hl | safe }}</p>
                </li>
            {% endfor %}
            </ol>
        {% endif %}

        {% if results_glossaire|length > 0 %}
            <h2>{{ results_glossaire.count }} 
                {% if results_glossaire|length > 1 %}
                    entrées de glossaire
                {% else %}
                    entrée de glossaire
                {% endif %}
                correspondant à « {{ recherche }} »</h2>
            <ol>
            {% for entree in results_glossaire %}
                <li><strong><a href="{% url 'fichier:entree_glossaire' entree.id %}?search={{ recherche }}">{{ entree.entree_hl | safe }}</a></strong>
                    {% if entree.formes_alternatives_hl %}
                     ({{ entree.formes_alternatives_hl | safe }})
                    {% endif %}
                    <p class="preview_highlight">{{ entree.definition_hl | safe }}</p>
                </li>
            {% endfor %}
            </ol>
        {% endif %}

    {% if results_agenda|length > 0 %}
        <h2>{{ results_agenda.count }} 
            {% if results_agenda|length > 1 %}
                entrées de l'agenda
            {% else %}
                entrée de l'agenda
            {% endif %}
            correspondant à « {{ recherche }} »</h2>
        <ol>
        {% for entree in results_agenda %}
            <li><strong><a href="{{ entree.get_absolute_url }}?search={{ recherche }}">{{ entree }}</a></strong>
            <p class="preview_highlight">{{ entree.notes_hl | safe }}</p>
            </li>
        {% endfor %}
        </ol>
    {% endif %}
{% endif %}

    </div>
</div>
{% endblock %}
