{% load fichier_extras %}
<table class="distribution">
    <thead>
        <tr>
            <th>{{ nom_humain }}</th>
            <th>{% get_carre_colore_A %} théorique</th>
            <th>{% get_carre_colore_B %} intermédiaire</th>
            <th>{% get_carre_colore_C %} pratique</th>
            <th>total</th>
        </tr>
    </thead>
    <tbody>
{% for element in elements %}
    {% with "fichier:index_"|add:critere_name as template_name %}
    <tr><th>
        {% if element.code %}
        <a href="{% url template_name element.id %}">{{ element.code }}</a><br />
        <span>{{ element.nom }}</span>
        {% else %}
        <a href="{% url template_name element.id %}">{{ element.nom }}</a>
        {% endif %}
    </th> 
        <td>{{element.fiche_count_A}}</td>
        <td>{{element.fiche_count_B}}</td>
        <td>{{element.fiche_count_C}}</td>
        <td>{{element.fiche_count }}</td> 
    </tr>
    {% endwith %}
{% endfor %}
</tbody>
</table>
