{% load fichier_extras %}
<table class="distribution">
    <thead>
        <tr>
            {% if critere_name == "theme" or critere_name == "motcle" %}
            <tr>
                <td></td>
                <th colspan="4" scope="colgroup">Fiches</th>
                <th scope="colgroup">Agenda</th>
              </tr>
              {% endif %}
              <th>{{ nom_humain }}</th>
            <th>{% get_carre_colore_A %} informatif</th>
            <th>{% get_carre_colore_B %} pratique</th>
            <th>{% get_carre_colore_C %} opérationnel</th>
            <th>total fiches</th>
        {% if critere_name == "theme" or critere_name == "motcle" %}
            <th>entrées agenda</th>
        {% endif %}
        </tr>
    </thead>
    <tbody>
{% for element in elements %}
    {% with "fichier:index_"|add:critere_name as template_name %}
    <tr><th>
        {% if element.code %}
        <a href="{% url template_name element.id %}"{% if element.entry_count == 0 %}class="missing-entry"{% endif %}>{{ element.code }}</a><br />
        <span>{{ element.nom }}</span>
        {% else %}
        <a href="{% url template_name element.id %}"{% if element.entry_count == 0 %}class="missing-entry"{% endif %}>{{ element.nom }}</a>
        {% endif %}
    </th> 
        <td>{{element.fiche_count_A}}</td>
        <td>{{element.fiche_count_B}}</td>
        <td>{{element.fiche_count_C}}</td>
        <td {% if element.fiche_count == 0 %}class="missing-entry"{% endif %}>{{element.fiche_count }}</td> 
        {% if critere_name == "theme" or critere_name == "motcle" %}
        <td {% if element.agenda_count == 0 %}class="missing-entry"{% endif %}>{{element.agenda_count }}</td> 
        {% endif %}
    </tr>
    {% endwith %}
{% endfor %}
</tbody>
</table>
