{% load fichier_extras %}

{% if ephemeride %}
<div class="cal_mois mois_left">
    {% show_month agenda entree.date.year entree.date.month True %}
</div>
<div class="cal_mois mois_right">
    {% show_month agenda year_next_month month_next_month True %}
</div>
{{ entree_agenda.ephemeride | safe }}
<div style="clear: both; height: 1em"></div>
{% else %}
    <{{ hx }}>
        {% if direct_link %}
        <a href="{% url 'fichier:entree_agenda' entree.date.year entree.date.month entree.date.day %}">{{ entree.date }}</a> 

        {% else %}
            Entrée du {{ entree.date.day }} <a href="{% url 'fichier:agenda_month' entree.date.year entree.date.month %}">{{ entree.date|date:'F' }}</a> <a href="{% url 'fichier:agenda_year' entree.date.year %}">{{ entree.date.year }}</a> 
            {% if entree.marque %}
            ☑
            {% endif %}
            <a id="edit_button" class="card_edit" href="{% url 'fichier:object_change' 'agenda' entree.id %}">éditer <small>(ctrl+e)</small></a>
            <a class="card_edit" id="duplicate_button" href="{% url 'fichier:object_duplicate' 'agenda' entree.id %}">dupliquer</a>
            <a class="card_edit" id="invert_button" href="{% url 'fichier:entree_agenda_invert_with' entree.id %}">inverser avec une autre date</a>
            <a class="card_edit" id="delete_button" href="{% url 'fichier:entree_agenda_delete' entree.id %}">supprimer</a>
        {% endif %}
    </{{ hx }}>
{% endif %}
{% if entree.themes.all %}
<strong>Thème{% if entree.themes.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for theme in entree.themes.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_theme' theme.id %}">{{ theme }}</a>{% endfor %}<br>
{% endif %}
{% if entree.motscles.all %}
<strong>Mot{% if entree.motscles.all.count > 1%}s{% endif %}-clé{% if entree.motscles.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for motcle in entree.motscles.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_motcle' motcle.id %}">{{ motcle }}</a>{% endfor %}
{% endif %}

{% if entree.date_derniere_modification and not direct_link %}
<div class="lien_next">
    Dernière modification&nbsp;: {{entree.date_derniere_modification }}
</div>
<div style="clear: both"></div>
{% endif %}
