{% load fichier_extras %}



<div class="cal_mois mois_left">
    {% show_month ephemeride.agenda ephemeride.year_pred_month ephemeride.month_pred_month True ephemeride.date %}
</div>
<div class="cal_mois mois_right">
    {% show_month ephemeride.agenda ephemeride.year_next_month ephemeride.month_next_month True ephemeride.date %}
</div>
{{ ephemeride.ephemeride | safe }}


<div style="clear: both; height: 1em"></div>

<div class="checked">
    {% if entree.marque %}
        ☑
    {% endif %}
</div>

{% if ephemeride.entree %} 
    {% with entree=ephemeride.entree %}
        {% if entree.themes.all %}
        <strong>Thème{% if entree.themes.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for theme in entree.themes.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_theme' theme.id %}">{{ theme }}</a>{% endfor %}<br>
        {% endif %}
        {% if entree.motscles.all %}
        <strong>Étiquette{% if entree.motscles.all.count > 1%}s{% endif %}&nbsp;:</strong> {% for motcle in entree.motscles.all %}{% if not forloop.first %}, {% endif %}<a class="internal" href="{% url 'fichier:index_motcle' motcle.id %}">{{ motcle }}</a>{% endfor %}
        {% endif %}

        {% if entree.date_derniere_modification and not simple %}
        <div class="lien_next derniere_modification">
            Dernière modification&nbsp;: {{entree.date_derniere_modification }}
        </div>
        <div style="clear: both"></div>
        {% endif %}
    {% endwith %}
{% endif %}