.carre {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align:middle;
    border-radius: 0.1em;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}
