page {
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);

}
.ephemeride_large .ephemeride a {
    padding: 0;
}


/* version web */
page#page-A5.web .ephemeride_large .ephemeride a {
    padding: .8em 2em;
}

page#page-A5.web, page#page-A5.web .container {
    width: auto;
    height: auto;
    margin: 1em;
    font: inherit;
}

page#page-A5.web .cal_mois {
    font-size: inherit;
}

page#page-A5.web .ephemeride {
    font-size: inherit;
}

page#page-A5.web p {
    font-size: inherit;
}

page#page-A5 .derniere_modification {
    display: none;
}

page#page-A5.web .derniere_modification {
    display: block;
}

/* responsive */
  @media only screen and (max-width: 21cm) {
    .message_responsive {
        display: block;
        background: #E50;
        color: #fff;
        box-shadow: 0 0 0.2cm rgba(0,0,0,0.2);
        padding: 1em;
        margin: 0.7em;
        border-radius: .2em;

    }
    .message_responsive a {
        color: inherit;
        font-weight: bold;
    }
    
    page #contenu_page {
        width: calc(95vw / 21 * 17);
        height: auto;
        margin: calc(95vw / 21 * 1.5) calc(95vw / 21 * 2);
    }

    page .container {
        width: calc(95vw / 21 * 20);
        height: auto; 
        margin: calc(95vw / 21 * 0.5);
        flex-direction: column;
    }
    
    
    
    page #chapeau, page #pied {
        border: calc(95vw / 21 * 0.1) solid #2a6098;
        border-radius: calc(95vw / 21 * 0.05);
    }
    page #chapeau ul, page #pied ul {
        margin: calc(95vw / 21 * 0.2);
    }
    
    page p, ul {
        margin: calc(95vw / 21 * 0.2);
    }
    
    page #chapeau li, page #pied li {
        margin-left: calc(95vw / 21 * 0.7);
    }
    
    .column_large page {
        margin-top: calc(95vw / 21 * 2.5);
    }

    page {
        margin-bottom: calc(95vw / 21 * 0.5);
        box-shadow: 0 0 calc(95vw / 21 * 0.5) rgba(0,0,0,0.5);
    }
    page[size=A4], page[size=A5][layout="landscape"]  {  
        width: 95vW;
        height:  auto;
    }

    
    .menu-21 {
        width: 95vW;
    }

    page .colonne {
        width: 100%;
    }

    page .colonne:nth-child(1) {
        margin-bottom: 2em;
    }
}

