body {
    width: 21cm;
}

.message_responsive {
    display: none;
}

@page { size: A4; margin: 0 }

/* tricks for agenda rendering */

/*.top-cal {
    width: 9.85cm;
}*/

.ephemeride_large .ephemeride a {
    padding: 0;
}

page .internal {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.ephemeride {
    width: 6.2em;
}

.A4_A5 page[size=A5] {
    border-bottom: 0.2mm solid grey;
}

page#page-A5 .onlyweb {
    display: none;
}
