div {
    padding: 0;
    margin: 0;
}

page {
    font-family: "Tinos", Times, "Times New Roman", Georgia, serif;
}

page .internal {
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}

page .internal:hover {
    color: #2a6098;
    text-decoration: underline;
}

page h1 {
    font-size: 22pt;
    margin: 0;
}

page h1 small { 
    font-weight: normal; 
    font-size: 16pt;
}


page li {
    margin: 0cm;
}

page .nomenclature {
    font-size: 16pt;
    margin: 0;
}

page #contenu_page {
    width: 17cm;
    height: 26.7cm; 
    margin: 1.5cm 2cm;
    overflow: hidden;
    position: relative;
}

page #entete {
    display: flex;
    flex-grow: 0;
}

page #entete .gauche {
    width: 67.9%;
    float: left;
    font-style: italic;
    border: 0;
}
page #entete .droite {
    width: 32%;
    float: right;
}

page #principal {
    clear: both;
}


page #chapeau, page #pied {
    background: #c5ccd4;
    border: 0.1cm solid #2a6098;
    border-radius: 0.05cm;
    padding: 0;
}
page #chapeau ul, page #pied ul {
    padding: 0;
    margin: 0.2cm;
}

page p, ul {
    margin: 0.5em;
}

page #chapeau li, page #pied li {
    margin-left: 0.7em;
}

page li>p {
    margin: 0;
}


page #contenu_page {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
}

#actions {
    float: right;
    width: 100%;
    background: #4b82bd;
    position: relative;
    z-index: 1000;
    text-align: right;
    border-bottom: 2px solid #2a6098;
}

#actions button {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: #fff;
    padding: 0.1em 1em;
    line-height: 2em;
    height: 2.5em;
}

#actions button:hover {
    background: #2a6098;
}

.column_large page {
    margin-top: 2.5em;
}

/* mise en page A4 */
  page {
    background: white;
    display: block;
    overflow: hidden;
    font-size: 12pt;
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }

  @media print {
    body, html {
        margin: 0;
        padding: 0;
    }
    body, page {
      margin: 0;
      box-shadow: 0;
    }
    #actions {
        display: none;
    }
  }

  #message_responsive {
    display: none;
  }

