div {
    padding: 0;
    margin: 0;
}

page {
    font-family: "Tinos", Times, "Times New Roman", Georgia, serif;
}

page .internal {
    font-weight: inherit;
    text-decoration: underline;
    color: inherit;
}

page .internal:hover {
    color: #2a6098;
    text-decoration: none;
}

page h1 {
    font-size: 22pt;
    margin: 0;
    padding: 0;
}

page h2 { 
    font-weight: normal; 
    font-size: 16pt;
    margin: 0;
    padding: 0;
}


page li {
    margin: 0cm;
}

page .nomenclature {
    font-size: 16pt;
    margin: 0;
}

page .contenu_page {
    width: 17cm;
    height: 26.7cm; 
    margin: 1.5cm 2cm;
    overflow: hidden;
    position: relative;
}

page .entete {
    display: flex;
    flex-grow: 0;
    margin-bottom: 0.2em;
}

page .entete .gauche {
    width: 67.9%;
    float: left;
    font-style: italic;
    border: 0;
    padding-right: 0.2em;
}
page .entete .droite {
    width: 32%;
    float: right;
}

page .principal {
    clear: both;
}


page .chapeau, page .pied {
    background: #c5ccd4;
    border: 0.1cm solid #2a6098;
    border-radius: 0.05cm;
    padding: 0;
}
page .chapeau ul, page .pied ul {
    padding: 0;
    margin: 0.2cm;
}

page p, ul {
    margin: 0.2em;
}

page .chapeau li, page .pied li {
    margin-left: 0.7em;
}

page li>p {
    margin: 0;
}


page .contenu_page {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.menu-21 {
    width: 21cm;
    margin: auto;
    display: block;
}

#actions {
    float: right;
    width: 100%;
    background: #4b82bd;
    position: relative;
    z-index: 100;
    text-align: right;
    border-bottom: 2px solid #2a6098;
}

#actions button {
    cursor: pointer;
    border: 0;
    background: transparent;
    color: #fff;
    padding: 0.1em 1em;
    line-height: 2em;
    height: 2.5em;
}

#actions button:hover {
    background: #2a6098;
}

.vertical-space {
    clear: both;
    height: 1em;
}

page .container {
    width: 20cm;
    height: 14cm; 
    margin: 0.5cm;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

page .colonne {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 1mm;
    overflow: hidden;
}

page .notes-libres {
    width: 100%;
    height: 10em;
    background-color: #fff; 
    background-image: 
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

page .illustration {
    width: 100%;
    height: 8cm;
}

page .illustration img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* mise en page A4 */
  page {
    background: white;
    display: block;
    overflow: hidden;
    font-size: 12pt;
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
  }
  page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
  }
  page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
  }
  page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
  }
  page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
  }

  @media print {
    body, html {
        margin: 0;
        padding: 0;
    }
    body, page {
      margin: 0;
      box-shadow: 0;
    }
    #actions {
        display: none;
    }
  }

  #message_responsive {
    display: none;
  }

