#menubar {
    overflow: hidden;
}
  

#menubar .icon {
    display: none;
    height: auto;
    font-weight: bold;
}

#menubar.responsive .icon:hover {
    background: #122b43;
}

#menubar.responsive .sousmenu,
#menubar.responsive .sousmenu:hover {
    position: static;
    display: block;
    height: fit-content;
    float: none;
    width: 100%;
}

#menubar.responsive .sousmenu ul, 
#menubar.responsive .sousmenu:hover ul,
#menubar.responsive .sousmenu span {
    height: auto;
    text-align: left;
    position: static;
    display: block;
    width: 100%;
    transition: none;
    padding-top: 0;
    clear: both;
    border: 0;
}

#menubar.responsive .sousmenu span {
    padding-left: 0.5em;
}

#menubar.responsive .sousmenu ul li, 
#menubar.responsive .sousmenu:hover ul li {
    display: block;
    margin-top: 0;
    width: auto;
    height: 100%;
    padding-left: 1.5em;
}

  
@media screen and (max-width: 850px) {
    #menubar.responsive {
        height: auto;
    }
    #menubar li:not(:first-child) {display: none;}
    #menubar li.icon {
        float: right;
        display: block;
    }

    #menubar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    #menubar.responsive li {
        float: none;
        display: block;
    }
    #menubar.responsive a {
        text-align: left;
    }
    #menubar.responsive li.bouton {
        display: inline-block;
        margin: 0.5em;
    }
}