html {
    height: 100%;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 15px;
}

body {
    background: rgb(234,234,234);  
    margin: 0;
    padding: 0;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #2a6098;
}

a:visited {
    color: #204b75;    
}

a:hover {
    text-decoration: underline;
    color: #122b43;
}


#full_content {
    width: 100%;
    flex-grow: 1;
}

.not_available {
    color: #555;
}

/* footer */

#footer {
    clear: both;
    width: 100%;
    height: 10em;
    margin: 0;
    margin-top: 5em;
    background: #122b43;
    color: #fff;
    box-shadow: 0 0 0.4em rgba(0,0,0,0.5);
    border-top: 3px solid #2a6098;
    z-index: 1;
    font-size: 80%;
    color: #ccc;
}
#footer p, #footer ul {
    margin: auto;
    margin-top: 0.8em;
    max-width: 1400px;
    padding: 1em;
}
#footer a {
    color: #3d8ac6;
}
#footer ul {
    list-style-type: none;
    padding-bottom: 0;
    text-align: right;
}
#footer li {
    margin: 0;
    padding: 0;
}


/* menu */

#menubar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    background: #122b43;
    color: #fff;
    box-shadow: 0 0 0.4em rgba(0,0,0,0.5);
    border-bottom: 3px solid #2a6098;
    z-index: 1;
}

#menubar>div {
    margin: auto;
    max-width: 1400px;
    height: 100%;
    padding: 0;
}

#menubar ul {
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#menubar ul>li {
    display: block;
    height: 100%;
    float: left;
}

#menubar ul>li:hover, #menubar .bouton:hover,
#menubar ul>li.actif {
    background: #2a6098;
}

#menubar ul>li>a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    text-align: center;
    padding: 0 1em;
    line-height: 2.5em;
    cursor: pointer;
}

#menubar .espace-gauche {
    margin-left: 3em;
}

#menubar .bouton {
    border: 1px solid #3d8ac6;
    height: auto;
    margin-top: 0.5em;
    border-radius: 0.75em;
    line-height: 1.5em;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    display: inline-block;
    margin-right: 0.5em;
}
#menubar .bouton a, #menubar .bouton span {
    line-height: 1.5em;
    height: 1.5em;
    text-align: center;
}

#content {
    margin-top: 3.2em;
    position: relative;
}

/* mise en page classique */
.column-middle {
    margin: auto;
    width: 50%;
}

.column {
    float: left;
    width: 50%;
}

.column3 {
    float: left;
    width: 33%;
}

.column_small {
    float: left;
    width: 30%;
}

.column_large {
    float: left;
    width: 70%;
}

.document {
    position: relative;
}

.resserre {
    margin: 0;
    padding: 0;
}

.block {
    margin: 0.5em;
    background: #fff;
    padding: 1em;
    border-radius: 0.2em;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.1);
}

.block ul {
    list-style: none;
    padding: 0 0.5em;
}

#full_content {
    margin: auto;
    max-width: 1400px;
}

.recherche_vide {
    height: 8em;
    margin-top: 5em;
    padding-top: 5em;
}

.boite_recherche form input, .boite_recherche form button {
    font-size: 130%;
}

#recherche_barre {
    float: right;
    height: 100%;
}
#recherche_barre input {
    border: 1px solid #3d8ac6;
    height: auto;
    margin-top: 0.5em;
    border-radius: 0.75em;
    line-height: 1.5em;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    display: inline-block;
    padding: 0 1em;
}
#recherche_barre input:hover, #recherche_barre input:focus {
    background: #2a6098;
}

#menubar button.bouton {
    padding: 0 1em;
}

.messagelist .success {
    background: #01a129;
}
.messagelist .warning {
    background: #975709;
} 
.messagelist .error {
    color: #a30d0d;

}
.messagelist {
    margin: 1em 0;
    padding: 0;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.1);
    border-radius: 0.2em;
    overflow: hidden;
}

.messagelist li {
    display: block;
    margin: 0;
    padding: 1em;
    color: #fff;
}

.messagelist li a {
    color: #122b43;
}

.cols3 {
    columns: 3;
}

.cols4 {
    columns: 4;
}

.suite {
    text-align: right;
}

.fiche_count {
    background: #dfdede;
    display: inline-block;
    padding: 0.1em 0.4em 0.2em 0.4em;
    border-top: 1px solid #fff;
    font-size: 70%;
    font-weight: bold;
    vertical-align: top;
    border-radius: 0.2em;
    margin-left: 0.5em;
}

.visu {
    background: #dfecf6;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    line-height: 1.8em;
}

.visu:hover {
    text-decoration: none;
    background: #89b8db;
}

.active_visu {
    background: #204b75;
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    line-height: 1.8em;
}

table {
    width: 80%;
    margin: auto;
    text-align: center;
    overflow-x: auto;
}

table th, table td {
    padding: 0.2em 1em;
}

table thead th {
    background: #eee;
}

table th {
    background: #f5f5f5;
}

table td {
    background: #fbfbfb;
}

table th:first-child {
    text-align: left;
}

#liste_entrees .block  {
    overflow-y: auto;
    height: 100%;
}

#suite_page {
    display: flex;
}

.card_edit, .card_edit:visited {
    background: #aaa;
    font-size: 50%;
    padding: 0.1em 0.5em;
    border-radius: 0.5em;
    color: #fff;
    vertical-align: middle;
}

.card_edit:hover {
    background: #3d8ac6;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1400px) {
    #entete .column_small {
        width: 40%;
    }
    
    #entete .column_large {
        width: 60%;
    }
}


#menubar .onglet_rechercher {
    display: none;
}

.formes-alternatives {
    color: #777;
    font-size: 80%;
}

.glossaire, .glossaire-creer {
    text-decoration: underline dotted #975709;
}

.glossaire-creer {
    color: #F00 !important;
}

.nuage {
    text-align: center;
    width: 80%;
    margin: auto;
}

a.nuage-1-5, a.nuage-0-4:visited {
    font-size: 80%;
    color: #6089af;
}

a.nuage-2-5, a.nuage-1-4:visited {
    font-size: 100%;
    color: #2f5980;
}

a.nuage-3-5, a.nuage-2-4:visited {
    font-size: 130%;
    color: #16395a;
}

a.nuage-4-5, a.nuage-3-4:visited {
    font-size: 190%;
    color: #0d253b;
}

a.nuage-5-5, a.nuage-4-4:visited {
    font-size: 250%;
    color: #081827;
}

a.day {
    display: block;
    background: #c9dceb;
    font-weight: bold;
}

a.missing-day {
    background: transparent;
    font-weight: normal;
    color: red;
    opacity: 0.2;
}

a.missing-day:hover {
    opacity: 1;
}


@media only screen and (max-width: 1200px) {

    #menubar .espace-gauche {
        margin-left: 1em;
    }

    #content > .column_large, #content  > .column_small {
        width: 100%;
    }

    
    #menubar #recherche_barre {
        display: none;
    }

    #menubar .onglet_rechercher {
        display: inline-block;
    }

    #menubar ul {
        width: 100%;
    }

    #menubar ul>li>a {
        padding: 0 0.5em;
    }
}

@media only screen and (max-width: 1000px) {
    #content > .column {
        width: 100%;
    }
    #content .column_large, #content  .column_small {
        width: 100%;
    }

    #liste_entrees .block  {
        max-height: 10em;
        margin-bottom: 1em;
        box-shadow: inset 0 0 0.4em rgba(0,0,0,0.5);
    }

    #suite_page {
        display: block;
    }


    #ajouter_fiche span {
        display: none;
    }
    #menubar ul {
        width: 100%;
    }
    #menubar ul>li>a {
        padding: 0 0.5em;
    }

    #menubar .bouton a {
        padding: 0 0.5em;
    }
    
}

@media only screen and (max-width: 800px) {
    .cols3 {
        columns: 2;
    }

    .cols4 {
        columns: 3;
    }

    .column-middle {
        width: 100%;
    }
    
}

@media only screen and (max-width: 600px) {
    .cols3 {
        columns: 1;
    }

    .cols4 {
        columns: 2;
    }
}

@media only screen and (max-width: 400px) {
    .cols4 {
        columns: 1;
    }
    .column3 {
        width: 100%;
    }
}

.ephemeride {
    display: block;
    width: 6em;
    margin: auto;
}
.ephemeride a {
    padding: 1em 0;
    display: block;
    box-shadow: 0 0 0.2em rgba(0,0,0,0.3);
    border-radius: 0.2em;
}

.ephemeride a:hover {
    text-decoration: none;
    color: #000;
    background: #fdfdfd;
    box-shadow: 0 0 0.1em rgba(0,0,0,0.3);
}

.ephemeride div {
    width: 100%;
    text-align: center;
}
.ephemeride .jour_semaine {
    color: #222;
}
.ephemeride .jour {
    color: #c00;
    font-size: 250%;
}
.ephemeride .mois {
    color: #222;
    font-variant: small-caps;    
}



@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	td.distribution:nth-of-type(1):before { content: "théorique"; }
	td.distribution:nth-of-type(2):before { content: "intermédiaire"; }
	td.distribution:nth-of-type(3):before { content: "pratique"; }
	td.distribution:nth-of-type(4):before { content: "total"; }
}
